<div class="container-fluid mt-5">
  <div class="row d-flex align-items-center ">
    <div class="col p-2 header-account-type text-start">
      <h1 style="font-size: 40px">Xử lý báo cáo</h1>
    </div>
  </div>
</div>
<div class="container-fluid ">
  <div class="row d-flex align-items-center ">
    <div class="col p-2 header-account-type text-start">
      <a routerLinkActive="active"  routerLink="manage-report-post" class="btn-change-type me-3">Báo bài đăng</a>
      <a routerLinkActive="active"   routerLink="manage-report-rate" class="btn-change-type me-3">Báo cáo đánh giá </a>
      <a routerLinkActive="active"   routerLink="manage-complain" class="btn-change-type">Khiếu nại</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
