<div class="container-fluid ">
  <mat-form-field appearance="standard">
    <mat-label>Tìm kiếm</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table matSortDisabled [dataSource]="dataSource" class="w-100" mat-table matSort>

      <ng-container matColumnDef="postID">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
            Mã bài đăng
        </th>
        <td *matCellDef="let row" mat-cell>
            {{row.postID}}
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Tên Homestay</th>
        <td *matCellDef="let row" mat-cell>

          {{row.title}}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Chi tiết lý do</th>
        <td *matCellDef="let row" mat-cell>
          <div class="ps-3">
           <p class="m-0" (click)="showMore(row)">
             <mat-icon>
              description
             </mat-icon>
           </p>
         </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="numbersOfReport">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Số lần bị báo cáo</th>
        <td *matCellDef="let row" mat-cell>
          <div class="ps-4">
          {{row.totalReport}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="statusPost">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Trạng thái bài đăng</th>
        <td *matCellDef="let row" [ngSwitch]="row.statusPost" mat-cell>
          <div class="">
            <button class="p-0" #menuTrigger [matMenuTriggerFor]="menu" mat-button disabled="{{row.statusReportPost==2}}">
              <div *ngSwitchCase="0" style="color: #B01E68">
                <div class="d-flex flex-row align-items-center justify-content-center text-center">
                  <mat-icon style="fill: #B01E68">
                    fiber_manual_record
                  </mat-icon>
                  <div>
                    Chưa thanh toán
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="1" style="color: #367E18">
                <div class="d-flex flex-row align-items-center justify-content-center text-center">
                  <mat-icon style="fill: #367E18">
                    fiber_manual_record
                  </mat-icon>
                  <div>
                    Hoạt động
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="2" class="d-flex" style="color: gray">
                <div  class="d-flex flex-row align-items-center justify-content-center">
                  <mat-icon style="fill: gray">
                    fiber_manual_record
                  </mat-icon>
                  Đã bị chủ nhà ẩn
                </div>
              </div>
              <div *ngSwitchCase="3" class="d-flex" style="color: #CC3636">
                <div class="d-flex flex-row align-items-center justify-content-center text-center">
                  <mat-icon>

                    fiber_manual_record
                  </mat-icon>
                  <div>
                    Đã bị người quản trị ẩn
                  </div>
                </div>
              </div>
            </button>
          </div>
          <mat-menu #menu="matMenu">
            <button *ngIf="row.statusPost==1"  (click)="updateStatus(row.listReportPostID,row.postID,2,3)" mat-menu-item>
              Ẩn bài viết
            </button>
            <button *ngIf="row.statusPost==3"  (click)="updateStatus(row.listReportPostID,row.postID,2,1)" mat-menu-item>
              Hiển thị bài viết
            </button>
          </mat-menu>

        </td>
      </ng-container>
      <ng-container matColumnDef="statusReportPost">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Trạng thái báo cáo</th>
        <td *matCellDef="let row" [ngSwitch]="row.statusReportPost" mat-cell>
          <div class="">
          <div *ngSwitchCase="1" style="color: #F36B08">
            <div class="d-flex flex-row align-items-start justify-content-start text-start">
              <mat-icon style="fill: #F36B08">
                    fiber_manual_record
              </mat-icon>
              <div>
                Chưa xử lý
              </div>
            </div>
          </div>
          <div *ngSwitchCase="2" class="d-flex" style="color: #367E18">
            <div class="d-flex flex-row align-items-center justify-content-center text-center">
              <mat-icon style="fill: #367E18">
                      fiber_manual_record
              </mat-icon>
              <div>Đã xử lý</div>
            </div>
          </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="history">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Lịch sử xử lý</th>
        <td *matCellDef="let row" mat-cell>
          <div class="ps-2">
            <button (click)="viewHistory(row.postID)" type="button" class="btn">
              <mat-icon >history</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">Không có dữ liệu trùng khớp "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator (page)="handlePageEvent($event)" [hidePageSize]="true" [length]="totalPaginator" [pageSize]="10"
                   aria-label="Select page of users"></mat-paginator>
  </div>

</div>
