<div class="container-fluid ">
  <mat-form-field appearance="standard">
    <mat-label>Tìm kiếm</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput>
  </mat-form-field>

  <div class="mat-elevation-z8 ">
    <table class="w-100" [dataSource]="dataSource" mat-table matSort>

      <ng-container matColumnDef="postID">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Mã bài đăng</th>
        <td *matCellDef="let row" mat-cell> {{row.postID}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Tên Homestay</th>
        <td *matCellDef="let row" mat-cell> {{row.title}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Chi tiết lý do</th>
        <td *matCellDef="let row" mat-cell>
          <p  (click)="showMore(row)"><mat-icon>
            <span>description</span>
          </mat-icon></p>
        </td>
      </ng-container>

      <ng-container matColumnDef="numbersOfReport">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Số lần bị báo cáo</th>
        <td *matCellDef="let row" mat-cell> {{row.totalReport}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Trạng thái</th>
        <td *matCellDef="let row" [ngSwitch]="row.status" mat-cell>

          <div *ngSwitchCase="0" class="d-flex" style="color: #5E7FDC">
            <div><p>Đã ẩn</p></div>
            <div>
              <mat-icon style="fill: #5E7FDC">
              <span class="material-symbols-outlined">
                  fiber_manual_record
              </span>
              </mat-icon>
            </div>
          </div>

          <div *ngSwitchCase="1" class="d-flex" style="color: #367E18">
            <div><p>Hoạt động</p></div>
            <div>
              <mat-icon style="fill: #367E18">
              <span class="material-symbols-outlined">
                  fiber_manual_record
              </span>
              </mat-icon>
            </div>
          </div>

<!--          <div *ngSwitchCase="2" class="d-flex" style="color: #F36B08">-->
<!--            <div><p> Tạm dừng</p></div>-->
<!--            <div>-->
<!--              <mat-icon style="fill: #F36B08">-->
<!--              <span class="material-symbols-outlined">-->
<!--                  fiber_manual_record-->
<!--              </span>-->
<!--              </mat-icon>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div *ngSwitchCase="3" class="d-flex" style="color: red">-->
<!--            <div><p>Đã bị khoá</p></div>-->
<!--            <div>-->
<!--              <mat-icon style="fill: red">-->
<!--              <span class="material-symbols-outlined">-->
<!--                  fiber_manual_record-->
<!--              </span>-->
<!--              </mat-icon>-->
<!--            </div>-->
<!--          </div>-->


        </td>
      </ng-container>

<!--      <ng-container matColumnDef="date">-->
<!--        <th *matHeaderCellDef mat-header-cell mat-sort-header> Ngày tham gia</th>-->
<!--        <td *matCellDef="let row" mat-cell> {{row.dob}} </td>-->
<!--      </ng-container>-->

<!--      <ng-container matColumnDef="action">-->
<!--        <th *matHeaderCellDef mat-header-cell mat-sort-header> Hành động</th>-->
<!--        <td *matCellDef="let row" mat-cell>-->
<!--          <button (click)="showMore(row)" class="btn btn-success" type="button">Xem thêm</button>-->
<!--        </td>-->
<!--      </ng-container>-->

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">Không có dữ liệu trùng khớp "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator (page)="handlePageEvent($event)" [hidePageSize]="true" [pageSize]="10" [length]="totalPaginator" aria-label="Select page of users"></mat-paginator>
  </div>

</div>
