.box_popup_new_voucher{
  width: 700px;
}

.box_popup_new_voucher h1{
  font-family: Baloo;
  font-size: 28px;
}

.box_popup_new_voucher .btn_voucher{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box_popup_new_voucher .btn_voucher button{
  background-color: #F36B08;
  color: #FFFFFF;
  padding-bottom: 5px;
  padding-top: 5px;
}

.box_popup_new_voucher .btn_voucher button:hover{
  background-color: #F4B689;
}

.box_popup_new_voucher .pop-up_content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
