<div class="container-manage-rate container-fluid">
  <div class="title">
    <h2>Quản lý danh sách đánh giá</h2>
  </div>
  <div class="content_list_rate">
    <div class="list_rate row">
      <div *ngFor="let rate of loadListRateObs|async" class="col card_rate">
        <div [matTooltip]="rate.title" class="card_rate_title me-2">
          <span style="display:inline-block; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 30ch;">
            {{rate.title}}
          </span>

        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail/'+rate.postID">Xem đánh giá/Báo cáo Homestay</a>
        </div>
      </div>
    </div>


    <div class="page_item">
      <mat-paginator (page)="handlePageEvent($event)" [length]="10*totalPage==0?1:10*totalPage" hidePageSize [pageSize]="10"  aria-label="Select page of users"></mat-paginator>

    </div>
  </div>
</div>


