<div class="container-manage-rate">
  <div class="title">
    <h2>Quản lý danh sách đánh giá</h2>
  </div>
  <div class="content_list_rate">
    <div class="list_rate">
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="page_item">
      <mat-paginator [length]="100"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>

<div class="message_box">
  <button>
    <svg width="64" height="63" viewBox="0 0 64 63" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M55.417 38.8999C55.417 40.2702 54.8609 41.5843 53.8712 42.5533C52.8814 43.5222 51.539 44.0666 50.1392 44.0666H18.4725L7.91699 54.3999V13.0666C7.91699 11.6963 8.47304 10.3821 9.46282 9.41318C10.4526 8.44425 11.795 7.8999 13.1948 7.8999H50.1392C51.539 7.8999 52.8814 8.44425 53.8712 9.41318C54.8609 10.3821 55.417 11.6963 55.417 13.0666V38.8999Z"
        stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <rect x="0.5" y="0.649902" width="62.3333" height="61" stroke="#FAC29A"/>
    </svg>
  </button>
</div>
