<div class="container-manage-rate">
  <div class="title">
    <h2>Quản lý danh sách đánh giá</h2>
  </div>
  <div class="content_list_rate">
    <div class="list_rate">
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="card_rate">
        <div class="card_rate_title">
          <h2>HanoiWood Homestay</h2>
        </div>
        <div class="rate">
          <a [routerLink]="'rate-detail'">Đánh giá mới (13), Báo cáo(2)
            <span>
              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="6.28084" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="page_item">
      <mat-paginator [length]="100"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>

