table {
  width: 100%;
}

.container_manage_voucher {
  max-width: 1230px;
  margin: auto;
}

.container_manage_voucher .table_manage_voucher {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container_manage_voucher .function_btn{
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container_manage_voucher .function_btn button {
  border: none;
  background-color: #FFFFFF;
  font-size: 24px;
  font-family: Baloo;
}

.container_manage_voucher .function_btn button svg{
  width: 45px;
  height: 45px;
}

.container_manage_voucher .function_btn .search {
  display: grid;
  grid-template-columns: 1fr 50px;
  align-items: center;
  position: relative;
}

.container_manage_voucher .function_btn .search .searchTerm {
  width: 60%;
  border: 1px solid #F36B08;
  border-right: none;
  border-radius: 25px 0 0 25px;
  outline: none;
  color: #9DBFAF;
  height: 46px;
  padding-left: 20px;
  justify-self: end;
}

.container_manage_voucher .function_btn .search .searchTerm::placeholder{
  color: #F4B689;
}

.container_manage_voucher .function_btn .search .searchTerm:focus {
  color: #F36B08;

}

.container_manage_voucher .function_btn .search .searchButton {
  width: 50px;
  height: 46px;
  border: 1px solid #F36B08;
  /* background: #F36B08; */
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0 25px 25px 0;
}

.container_manage_voucher .function_btn .search .searchButton svg{
  width: 20px;
  height: 20px;
}
