.box_pop-up {
  width: 800px;
}

.box_pop-up h1 {
  color: #F36B08;
  font-size: 32px;
  font-family: 'Baloo';
  text-align: center;
}

h1, h2, h3, h4, h5, h6, span, p, ul, li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

.box_pop-up .pop-up_content .info_hs ul {
  list-style: none;
}

.box_pop-up .pop-up_content .info_hs {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.box_pop-up .pop-up_content .info_hs h3 {
  font-size: 24px;
  font-family: Actor;
}

.box_pop-up .pop-up_content .info_hs ul {
  display: grid;
  grid-template-columns: 30px 200px 10px 1fr;
  align-items: center;
}

.box_pop-up .pop-up_content .info_hs .avatar_cus {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #F36B08;
}

.box_pop-up .pop-up_content .detail_content {
  padding-top: 20px;
  max-width: 750px;
  margin: auto;
}

.box_pop-up .pop-up_content .detail_content
.ul_second {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #F36B08;
}

.box_pop-up .pop-up_content .detail_content h3 {
  font-size: 22px;
  font-family: Actor;
}

.box_pop-up .pop-up_content .detail_content li {
  padding-bottom: 15px;
}

.box_pop-up .pop-up_content .detail_content
.time_booKing li h3 span,
.box_pop-up .pop-up_content .detail_content
.ul_second li h3 span,
.box_pop-up .pop-up_content .detail_content
.bill_booking li h3 span{
  border: 1px solid #F36B08;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  margin-left: 15px;
}

.box_pop-up .btn_close button{
  background-color: #F36B08;
  color: #FFFFFF;
  font-size: 24px;
  font-family: Inder;
  padding: 5px 20px 5px 20px;
}
