<!--<div class="box_pop-up">-->
<!--  <h1 mat-dialog-title>Chi tiết phòng sắp đón khách</h1>-->
<!--  <hr>-->
<!--  <div mat-dialog-content class="pop-up_content">-->
<!--    <div class="info_hs">-->
<!--      <ul>-->
<!--        <li>-->
<!--          <div class="avatar_cus">-->
<!--            <img src="assets/images/avatar.png" alt="">-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="name_cus">-->
<!--            <h3>Tran Quang Khai</h3>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>*</span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="name_post">-->
<!--            <h3>Tầng trệt- Homestay Hoa hồng</h3>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="detail_content">-->
<!--      <ul style="color: #F36B08;">-->
<!--        <li>-->
<!--          <h3>-->
<!--            Thời gian: <span>Vào lúc (12:00 - 11/11/2022)</span> <span>Ra lúc (12:00 - 11/11/2022)</span>-->
<!--          </h3>-->
<!--        </li>-->
<!--        <li>-->
<!--          <h3>-->
<!--            Đã đặt cọc: 3,000,000<sup>đ</sup>-->
<!--          </h3>-->
<!--        </li>-->
<!--        <li>-->
<!--          <h3>-->
<!--            Tình trạng phòng:-->
<!--            <span>-->
<!--              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--              <ellipse cx="6.22224" cy="5" rx="6.22224" ry="5" fill="#64F50B"/>-->
<!--              </svg>-->
<!--              Sẵn Sàng-->
<!--&lt;!&ndash;              <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">&ndash;&gt;-->
<!--&lt;!&ndash;              <ellipse cx="6.22224" cy="5" rx="6.22224" ry="5" fill="#FF0000"/>&ndash;&gt;-->
<!--&lt;!&ndash;              </svg>&ndash;&gt;-->
<!--&lt;!&ndash;              Chưa dọn&ndash;&gt;-->
<!--            </span>-->
<!--          </h3>-->
<!--        </li>-->
<!--        <li>-->
<!--          <h3>Lưu ý của khách hàng:</h3>-->
<!--          <span>Phòng mình muốn thêm màn và bật điều hòa, khử mùa trc khi nhận phòng nhé </span>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div mat-dialog-actions class="btn_close">-->
<!--    <button mat-button mat-dialog-close>Đóng</button>-->
<!--  </div>-->
<!--</div>-->
