body {
  margin: 0;
  padding: 0;
}

svg,
img {
  width: 100%;
  height: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
hr, ul, li {
  padding: 0;
  margin: 0;
}

header .container-header-host {
  max-width: 1230px;
  margin: auto;
  width: 100%;
}

header .container-header-host .nav-header {
  display: grid;
  grid-template-columns: 200px 1fr 120px;
  align-items: center;
}

header .container-header-host .nav-header .logo a svg {
  width: 200px;
  height: 65px;
  padding-top: 10px;
}


header .container-header-host .nav-header .profile {
  display: grid;
  grid-template-columns: 1fr 100px;
  column-gap: 5px;
  align-items: center;
}

header .container-header-host .nav-header .profile svg {
  width: 28px;
  height: 25px;
}

header .container-header-host .nav-header .profile .menu .icon-menu .icon svg {
  width: 20px;
  height: 25px;
}

header .container-header-host .nav-header .profile .menu .icon-menu {
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
}


header .container-header-host .nav-header .profile .menu {
  /* border: 1px solid #7A7676; */
  border-radius: 20px;
  padding: 3px;
  box-shadow: 0px 0px 7px #909090;
  cursor: pointer;
}

header .container-header-host .nav-header .profile .menu .icon-menu .icon,
header .container-header-host .nav-header .profile .menu .icon-menu .icon-profile {
  padding-left: 10px;
  padding-top: 2px;
}

header .container-header-host .nav-header .profile .menu .icon-menu .icon-profile {
  text-align: center;
}

header hr {
  color: #7A7676;
}

header .container-header-host .nav-header .profile .menu:hover {
  box-shadow: 0px 0px 4px #909090;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  border-radius: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 15px;
  align-items: center;
}

.dropdown-content a svg {
  width: 22px;
  height: 22px;
}

.dropdown-content a:hover {
  box-shadow: 0px 0px 4px #909090;
  border-radius: 20px;
}

.fix__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 900;
}

header .container-header-host .function-host ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
  align-items: center;
  text-align: center;
}

header .container-header-host .function-host ul a{
  color: black;
  font-family: 'Alice';
  font-size: 24px;
}

.fix__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 900;
}

/* === responsive === */
@media (max-width: 1100px) {
  header .container-header-host {
    max-width: 850px;
    margin: auto;
    width: 100%;
  }

  header .container-header-host .nav-header {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    align-items: center;
  }
}

@media (max-width: 1190px) {
  header .container-header-host {
    max-width: 950px;
    margin: auto;
    width: 100%;
  }

  header .container-header-host .nav-header {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    align-items: center;
  }
}

@media (max-width: 950px) {
  header .container-header-host {
    max-width: 750px;
    margin: auto;
    width: 100%;
  }

  header .container-header-host .nav-header {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    align-items: center;
  }
}

@media (max-width: 750px) {
  header .container-header-host {
    max-width: 600px;
    margin: auto;
    width: 100%;
  }

  header .container-header-host .nav-header {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
  }
}
