
.container-home {
  max-width: 1230px;
  margin: auto;
  width: 100%;
  padding-top: 30px;
}

.container-home a {
  color: #000000;
}

img {
  width: 100%;
  height: 100%;
}

.container-home .slider .carousel-item {
  width: 1230px;
  height: 318px;
  border-radius: 20px;
}

.container-home .slider .carousel-item img {
  border-radius: 20px;
}

.container-home .slider .button_now {
  position: absolute;
  margin-top: -7%;
  margin-left: 12%;
}

.container-home .slider .button_now button {
  background-color: #F36B08;
  border: none;
  padding: 10px 15px 10px 15px;
}

.container-home .slider .button_now button:hover {
  background-color: #F4B689;
}

.container-home .welcome {
  padding-top: 30px;
}

.container-home .welcome .span-welcome-0 {
  font-size: 36px;
  font-family: 'Baloo';
}

.container-home .welcome .span-welcome-1,
.container-home .welcome p {
  font-size: 20px;
  font-family: "Inder";
}

.container-home .welcome .span-welcome-2 {
  font-size: 36px;
  font-family: "Inder";
  color: #F36B08;
}

.container-home .welcome p a {
  background-color: #F36B08;
  color: #ffffff;
  font-family: "Inder";
  padding: 5px 25px 5px 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 7px #909090;
}

.container-home .welcome p a:hover {
  background-color: #F4B689;
}

.container-home .interesting_place {
  padding-top: 25px;
}

.container-home .interesting_place .title h2,
.container-home .experience_place .title h2,
.container-home .top_room .title h2 {
  font-size: 32px;
  font-family: 'Baloo';
}

.container-home .interesting_place .card_interesting_place {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container-home .experience_place {
  padding-top: 30px;
}

.container-home .carousel-wap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.container-home .top_room .item_star {
  position: absolute;
  margin-top: -7.5%;
  margin-left: 16%;
  background-color: #a9a9a9;
  padding: 3px 9px 3px 9px;
  border-radius: 10px;
  align-items: center;
}

.container-home .top_room .item_star span{
  padding: 3px 8px 3px 8px;
}

.container-home .top_room .item_star svg {
  width: 22px;
  height: 22px;
}

.container-home .top_room .item_image,
.container-home .experience_place .item_image,
.container-home .interesting_place .card_interesting_place
.card_item_image{
  width: 280px;
  height: 220px;
  border-radius: 10px;
}

.container-home .top_room .item_image img,
.container-home .experience_place .item_image img,
.container-home .interesting_place .card_interesting_place img{
  border-radius: 10px;
}

.container-home .top_room{
  padding-bottom: 30px;
}

ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container-home .interesting_place h3,
.container-home .experience_place h4,
.container-home .top_room h4 {
  font-size: 24px;
  font-family: 'Inder';
  padding-top: 15px;
}
