<!--<div class="box_pop-up">-->
<!--  <h1 mat-dialog-title>Chi tiết phòng đang đón khách</h1>-->
<!--  <hr>-->
<!--  <div mat-dialog-content class="pop-up_content">-->
<!--    <div class="info_hs">-->
<!--      <ul>-->
<!--        <li>-->
<!--          <div class="avatar_cus">-->
<!--            <img src="assets/images/avatar.png" alt="">-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="name_cus">-->
<!--            <h3>Tran Quang Khai</h3>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>*</span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="name_post">-->
<!--            <h3>Tầng trệt- Homestay Hoa hồng</h3>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="detail_content">-->
<!--      <ul style="color: #F36B08;" class="time_booKing">-->
<!--        <li>-->
<!--          <h3>-->
<!--            Thời gian: <span>Vào lúc (12:00 - 11/11/2022)</span> <span>Ra lúc (12:00 - 11/11/2022)</span>-->
<!--          </h3>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <ul class="ul_second">-->
<!--        <li>-->
<!--          <h3>-->
<!--            Đã đặt cọc: 3,000,000<sup>đ</sup>-->
<!--          </h3>-->
<!--        </li>-->
<!--        <li>-->
<!--          <h3>-->
<!--            Số lượng khách: <span>8 khách</span>-->
<!--          </h3>-->
<!--        </li>-->
<!--        <li>-->
<!--          <h3>-->
<!--            Phí dịch vụ: 3,000,000<sup>đ</sup>-->
<!--          </h3>-->
<!--        </li>-->
<!--        <li>-->
<!--          <h3>-->
<!--            Dịch vụ thêm: <span>8 khách</span>-->
<!--          </h3>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <ul style="color: #F36B08;" class="bill_booking">-->
<!--        <li>-->
<!--          <h3>-->
<!--            Tổng: <span>Tổng chi phí cần thanh toán: 10,000,000<sup>đ</sup></span>-->
<!--          </h3>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div mat-dialog-actions class="btn_close">-->
<!--    <button mat-button mat-dialog-close>Đóng</button>-->
<!--  </div>-->
<!--</div>-->


<h1 mat-dialog-title>Chi tiết</h1>
<div mat-dialog-content>
  <h2>Dịch vụ - Giá</h2>
  <div class="row">
    <div class="col" *ngIf="listBookingService">
      <mat-chip-list aria-label="Dog selection">
        <mat-chip style="background-color: #F36B08;color: white" *ngFor="let service of listBookingService">
          {{service.nameService}}-{{service.priceService|currency}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="col" *ngIf="!listBookingService">
      Khách hàng không chọn dịch vụ kèm theo
    </div>
  </div>
  <h2 class="mt-3">Mã khuyến mại</h2>
  <div class="row">
    <div class="col" *ngIf="bookingPostVoucherDto">
      <mat-chip-list aria-label="Dog selection">
        <mat-chip >
          Mã:{{bookingPostVoucherDto.code}}-Giảm:{{bookingPostVoucherDto.percent}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="col" *ngIf="!bookingPostVoucherDto">
      Không có khuyến mại được áp dụng
    </div>
  </div>
</div>
