<div class="container_post_location">
  <div class="title_post_location">
    <h2>
      <span>
      <svg width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.375 29.25L1.625 15.5L15.375 1.75" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"/>
      </svg>
    </span> Những homestay đáng lựa chọn nhất tại Hà Nội
    </h2>
  </div>
  <div class="content_list_post">
    <div class="card_post">
      <div class="image_post">
        <img src="assets/images/image%2012.png" alt="">
      </div>
      <div class="title_post">
        <h3>Lotus Homestay</h3>
      </div>
      <div class="star_post">
        <span> 4.5
          <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.935 0L13.5318 10.9091H0.322266L11.3302 18.1819L6.92704 29.091L17.935 21.8183L28.943 29.091L24.5398 18.1819L35.5477 10.9091H22.3382L17.935 0Z"
              fill="#F36B08"/>
          </svg>
        </span>
      </div>
    </div>
    <div class="card_post">
      <div class="image_post">
        <img src="assets/images/image%2012.png" alt="">
      </div>
      <div class="title_post">
        <h3>Lotus Homestay</h3>
      </div>
      <div class="star_post">
        <span> 4.5
          <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.935 0L13.5318 10.9091H0.322266L11.3302 18.1819L6.92704 29.091L17.935 21.8183L28.943 29.091L24.5398 18.1819L35.5477 10.9091H22.3382L17.935 0Z"
              fill="#F36B08"/>
          </svg>
        </span>
      </div>
    </div>
    <div class="card_post">
      <div class="image_post">
        <img src="assets/images/image%2012.png" alt="">
      </div>
      <div class="title_post">
        <h3>Lotus Homestay</h3>
      </div>
      <div class="star_post">
        <span> 4.5
          <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.935 0L13.5318 10.9091H0.322266L11.3302 18.1819L6.92704 29.091L17.935 21.8183L28.943 29.091L24.5398 18.1819L35.5477 10.9091H22.3382L17.935 0Z"
              fill="#F36B08"/>
          </svg>
        </span>
      </div>
    </div>
    <div class="card_post">
      <div class="image_post">
        <img src="assets/images/image%2012.png" alt="">
      </div>
      <div class="title_post">
        <h3>Lotus Homestay</h3>
      </div>
      <div class="star_post">
        <span> 4.5
          <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.935 0L13.5318 10.9091H0.322266L11.3302 18.1819L6.92704 29.091L17.935 21.8183L28.943 29.091L24.5398 18.1819L35.5477 10.9091H22.3382L17.935 0Z"
              fill="#F36B08"/>
          </svg>
        </span>
      </div>
    </div>
    <div class="card_post">
      <div class="image_post">
        <img src="assets/images/image%2012.png" alt="">
      </div>
      <div class="title_post">
        <h3>Lotus Homestay</h3>
      </div>
      <div class="star_post">
        <span> 4.5
          <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.935 0L13.5318 10.9091H0.322266L11.3302 18.1819L6.92704 29.091L17.935 21.8183L28.943 29.091L24.5398 18.1819L35.5477 10.9091H22.3382L17.935 0Z"
              fill="#F36B08"/>
          </svg>
        </span>
      </div>
    </div>
    <div class="card_post">
      <div class="image_post">
        <img src="assets/images/image%2012.png" alt="">
      </div>
      <div class="title_post">
        <h3>Lotus Homestay</h3>
      </div>
      <div class="star_post">
        <span> 4.5
          <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.935 0L13.5318 10.9091H0.322266L11.3302 18.1819L6.92704 29.091L17.935 21.8183L28.943 29.091L24.5398 18.1819L35.5477 10.9091H22.3382L17.935 0Z"
              fill="#F36B08"/>
          </svg>
        </span>
      </div>
    </div>
    <div class="card_post">
      <div class="image_post">
        <img src="assets/images/image%2012.png" alt="">
      </div>
      <div class="title_post">
        <h3>Lotus Homestay</h3>
      </div>
      <div class="star_post">
        <span> 4.5
          <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.935 0L13.5318 10.9091H0.322266L11.3302 18.1819L6.92704 29.091L17.935 21.8183L28.943 29.091L24.5398 18.1819L35.5477 10.9091H22.3382L17.935 0Z"
              fill="#F36B08"/>
          </svg>
        </span>
      </div>
    </div>
    <div class="card_post">
      <div class="image_post">
        <img src="assets/images/image%2012.png" alt="">
      </div>
      <div class="title_post">
        <h3>Lotus Homestay</h3>
      </div>
      <div class="star_post">
        <span> 4.5
          <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.935 0L13.5318 10.9091H0.322266L11.3302 18.1819L6.92704 29.091L17.935 21.8183L28.943 29.091L24.5398 18.1819L35.5477 10.9091H22.3382L17.935 0Z"
              fill="#F36B08"/>
          </svg>
        </span>
      </div>
    </div>
    <div class="card_post">
      <div class="image_post">
        <img src="assets/images/image%2012.png" alt="">
      </div>
      <div class="title_post">
        <h3>Lotus Homestay</h3>
      </div>
      <div class="star_post">
        <span> 4.5
          <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.935 0L13.5318 10.9091H0.322266L11.3302 18.1819L6.92704 29.091L17.935 21.8183L28.943 29.091L24.5398 18.1819L35.5477 10.9091H22.3382L17.935 0Z"
              fill="#F36B08"/>
          </svg>
        </span>
      </div>
    </div>
    <div class="card_post">
      <div class="image_post">
        <img src="assets/images/image%2012.png" alt="">
      </div>
      <div class="title_post">
        <h3>Lotus Homestay</h3>
      </div>
      <div class="star_post">
        <span> 4.5
          <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.935 0L13.5318 10.9091H0.322266L11.3302 18.1819L6.92704 29.091L17.935 21.8183L28.943 29.091L24.5398 18.1819L35.5477 10.9091H22.3382L17.935 0Z"
              fill="#F36B08"/>
          </svg>
        </span>
      </div>
    </div>
    <div class="card_post">
      <div class="image_post">
        <img src="assets/images/image%2012.png" alt="">
      </div>
      <div class="title_post">
        <h3>Lotus Homestay</h3>
      </div>
      <div class="star_post">
        <span> 4.5
          <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.935 0L13.5318 10.9091H0.322266L11.3302 18.1819L6.92704 29.091L17.935 21.8183L28.943 29.091L24.5398 18.1819L35.5477 10.9091H22.3382L17.935 0Z"
              fill="#F36B08"/>
          </svg>
        </span>
      </div>
    </div>
    <div class="card_post">
      <div class="image_post">
        <img src="assets/images/image%2012.png" alt="">
      </div>
      <div class="title_post">
        <h3>Lotus Homestay</h3>
      </div>
      <div class="star_post">
        <span> 4.5
          <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.935 0L13.5318 10.9091H0.322266L11.3302 18.1819L6.92704 29.091L17.935 21.8183L28.943 29.091L24.5398 18.1819L35.5477 10.9091H22.3382L17.935 0Z"
              fill="#F36B08"/>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="page_list">
    <div class="page_item">
      <mat-paginator [length]="100"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
