table {
  width: 100%;
}
.example-container {
  height: 400px;
  overflow: auto;
}
.header-account-type{
  border: 1px solid #F36B08;
  border-radius: 5px;
  margin: 10px;
  color: #F36B08;
  cursor: pointer;
}
.header-account-type:hover{
  background-color: #F36B08;
  color: #FFFFFF;
}
