<div class="container-fluid mt-5 h-auto" >
  <div class="row d-flex align-items-center ">
    <div class="col p-2 header-account-type text-start">
      <h1 style="font-size: 40px">Quản lý HomeStay</h1>
    </div>
  </div>
  <div class="row d-flex align-items-center ">
    <div class="col p-2 header-account-type text-start">
      <a routerLinkActive="active" routerLink="current-booking" class="btn-change-type me-3">Đang đón khách (2)</a>
      <a routerLinkActive="active" routerLink="coming-booking" class="btn-change-type me-3">Sắp đón (5)</a>
      <a routerLinkActive="active" routerLink="confirm-booking" class="btn-change-type ">Đang chờ xác nhận (5)</a>
    </div>
  </div>
  <router-outlet></router-outlet>

</div>
