<div class="container mt-5" style="height: 1020px;margin-bottom: 20px">
  <div class="row d-flex justify-content-center">
    <div class="col-3">
      <ul class="list-left nav flex-column nav-pills">
        <li  class="item-left">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  class="list-group-item clearfix" routerLink="../profile">Tài khoản</a>
        </li>
        <li *ngIf="isDisplay" class="item-left">
          <a routerLinkActive="active"  class="list-group-item clearfix" routerLink="../profile/history-booking">Lịch sử đặt phòng</a>
        </li>
        <li  class="list-group-item item-left">
          <a routerLinkActive="active"   class="list-group-item clearfix" routerLink="../profile/password">Bảo mật</a>
        </li>
      </ul>
    </div>

    <div class="col" style="height: 820px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
