<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-3">
      <ul class="list-left nav flex-column nav-pills">
        <li  class="item-left">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  class="list-group-item clearfix" routerLink="/profile">Tài khoản</a>
        </li>
        <li   class="item-left">
          <a routerLinkActive="active"  class="list-group-item clearfix" routerLink="/profile/history-booking">Lịch sử đặt phòng</a>
        </li>
        <li  class="list-group-item item-left">
          <a routerLinkActive="active"   class="list-group-item clearfix" routerLink="/profile/password">Bảo mật</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
<!--        <div class="row div-history mt-3">-->
<!--          <div class="col-4 div-history-item">-->
<!--            <img alt=""-->
<!--                 class="img-history"-->
<!--                 src="https://pix10.agoda.net/hotelImages/6173113/-1/bb703007affc1e68ade676d53fcaef1b.jpg?ca=13&ce=1&s=1024x768">-->
<!--          </div>-->
<!--          <div class="col ms-3 mt-1">-->
<!--            <div class="row">-->
<!--              <div class="col">-->
<!--                <div class="row ">-->
<!--                  <div class="col-1 m-0 p-0 d-flex justify-content-center">-->
<!--                    <div class="div-img-history-host-avatar">-->
<!--                      <img alt=""-->
<!--                           class="img-fluid "-->
<!--                           src="https://media.istockphoto.com/photos/wild-grass-in-the-mountains-at-sunset-picture-id1322277517?k=20&m=1322277517&s=612x612&w=0&h=ZdxT3aGDGLsOAn3mILBS6FD7ARonKRHe_EKKa-V-Hws=">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-3 d-flex align-items-center">-->
<!--                    <div class="text-start align-self-center">-->
<!--                      <h2 class="">Chủ nhà San</h2>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        You are now done.-->
<!--        <div>-->
<!--        </div>-->

    </div>
  </div>
</div>
