<div class="container mt-5">
  <div class="row">

    <div class="col">
      <mat-vertical-stepper #stepper [linear]="false">
        <mat-step [stepControl]="infoFormGroup">
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-4">
              <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                  <div class="div-img">
                    <img class="img-avata" src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2022/05/cat-1652877250.jpg"  alt="Raeesh">
                  </div>
                  </div>

                </div>
              <div class="mt-5 row d-flex justify-content-center text-center">
                <div class="col">
                    <button type="button" class="btn btn-save-img">Đổi ảnh đại diện</button>
                </div>

              </div>

            </div>
            <div class="col">
              <form [formGroup]="infoFormGroup">
                <ng-template  matStepLabel>Thông tin cá nhân</ng-template>
                <div class="row">
                  <div class="col-5"><h2>Thông tin người dùng</h2></div>
                </div>
                <div class="row">
                  <div class="col-2  w-50">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Tên tài khoản</mat-label>
                      <input readonly formControlName="userName" matInput>
                    </mat-form-field>
                  </div>
                  <div class="col-3  w-50">
                    <mat-form-field  class="w-100"  appearance="outline">
                      <mat-label>Họ và Tên</mat-label>
                      <input formControlName="secondName" matInput
                             placeholder="" >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
<!--                  <div class="col-2 w-50">-->
<!--                    <mat-form-field  class="w-100"  appearance="outline">                  <mat-label></mat-label>-->
<!--                      <mat-label>Giới tính</mat-label>-->
<!--                      <mat-select formControlName="gender">-->
<!--                        <mat-option selected disabled>&#45;&#45;chọn&#45;&#45;</mat-option>-->
<!--                        <mat-option value="male">Nam</mat-option>-->
<!--                        <mat-option value="female">Nữ</mat-option>-->
<!--                      </mat-select>-->
<!--                    </mat-form-field>-->
<!--                  </div>-->
                  <div class="col-3  w-50">
                    <mat-form-field  class="w-100"  appearance="outline">
                      <mat-label>Số điện thoại</mat-label>
                      <input formControlName="phoneNumber" matInput
                             placeholder="" >
                    </mat-form-field>
                  </div>
                  <div class="col-2  w-50">
                    <mat-form-field  class="w-100"  appearance="outline">
                      <mat-label>Địa chỉ email</mat-label>
                      <input readonly formControlName="email" matInput
                             placeholder="" >
                    </mat-form-field>
                  </div>

                </div>
<!--                <div class="row">-->
<!--                  -->
<!--                </div>-->
                <hr>

                <div class="row">
                  <div class="col-4"><h2>Địa chỉ</h2></div>
                </div>
<!--                <div class="row">-->
<!--                  <div class="col-3  w-50">-->
<!--                    <mat-form-field  class="w-100"  appearance="outline">-->
<!--                      <mat-label>Tỉnh/Thành Phố</mat-label>-->
<!--                      <mat-select formControlName="province">-->
<!--                        <mat-option selected disabled>&#45;&#45;chọn&#45;&#45;</mat-option>-->
<!--                        <mat-option value="male">Hà Nội</mat-option>-->
<!--                        <mat-option value="female">Hải Phòng</mat-option>-->
<!--                      </mat-select>-->
<!--                    </mat-form-field>-->
<!--                  </div>-->
<!--                  <div class="col-2  w-50">-->
<!--                    <mat-form-field  class="w-100"  appearance="outline">-->
<!--                      <mat-label>Quận/Huyện</mat-label>-->
<!--                      <mat-select formControlName="district">-->
<!--                        <mat-option selected disabled>&#45;&#45;chọn&#45;&#45;</mat-option>-->
<!--                        <mat-option value="male">An Lão</mat-option>-->
<!--                        <mat-option value="female">Hoàng Mai</mat-option>-->
<!--                      </mat-select>-->
<!--                    </mat-form-field>-->
<!--                  </div>-->

<!--                </div>-->
                <div class="row">
                  <div class="col-5 w-100">
                    <mat-form-field  class="w-100"  appearance="outline">
                      <mat-label>Địa chỉ</mat-label>
                      <input formControlName="address" matInput
                             placeholder="" >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <button mat-raised-button style="background-color: #F36B08;color: #FFFFFF" matStepperNext>Lưu</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </mat-step>
        <mat-step >
            <ng-template matStepLabel>Lịch sử đặt phòng</ng-template>
            <div class="row div-history mt-3">
              <div class="col-4 div-history-item">
                <img class="img-history"
                  src="https://pix10.agoda.net/hotelImages/6173113/-1/bb703007affc1e68ade676d53fcaef1b.jpg?ca=13&ce=1&s=1024x768"
                  alt="">
              </div>
              <div class="col ms-3 mt-1">
                <div class="row">
                  <div class="col">
                    <div class="row ">
                      <div class="col-1 m-0 p-0 d-flex justify-content-center">
                        <div class="div-img-history-host-avatar">
                          <img class="img-fluid "
                               src="https://media.istockphoto.com/photos/wild-grass-in-the-mountains-at-sunset-picture-id1322277517?k=20&m=1322277517&s=612x612&w=0&h=ZdxT3aGDGLsOAn3mILBS6FD7ARonKRHe_EKKa-V-Hws="
                               alt="">
                        </div>
                      </div>
                     <div class="col-3 d-flex align-items-center">
                       <div class="text-start align-self-center">
                         <h2 class="">Chủ nhà San</h2>
                       </div>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Bảo mật</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button (click)="stepper.reset()" mat-button>Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>

    </div>
  </div>
</div>
