<h1 mat-dialog-title >Mã giảm giá có thể sử dụng</h1>
<div style="width: 400px;min-height: 200px" mat-dialog-content>
  <div class="modal-body">
    <div class="row main-content">
      <div class="d-flex justify-content-center w-100">
        <div class="col-12 h-auto">
            <div class="row mt-4">
              <div class="col-12">
                <h3>Chọn mã giảm giá</h3>
              </div>
            </div>
          <div class="row">
            <div class="col">
              <mat-chip-list aria-label="Fish selection" *ngFor="let voucher of listVoucher">
                <mat-chip style="background-color: #F36B08;color: #FFFFFF" (click)="onCopyVoucherName(voucher.code)">{{voucher.code}}-{{voucher.description}}-Giảm: {{voucher.percent}}%</mat-chip>
              </mat-chip-list>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="modal-footer">
    <div class="d-flex justify-content-end">
      <div class="row">
        <div class="col">
          <button class="btn btn-back" type="button" mat-button mat-dialog-close>Huỷ</button>
          <button class="ms-1 btn btn-submit" type="button" mat-button (click)="onChooseVoucher()">Chọn</button>
        </div>
      </div>
    </div>
  </div>
</div>
