<h1 mat-dialog-title >Đánh giá</h1>
<div style="width: 400px;height: auto" mat-dialog-content>
  <div class="modal-body">
    <div class="row main-content">
      <div class="d-flex justify-content-center w-100">
        <div class="col-12">
            <div class="row h-100 mt-4">
              <div class="col-12">
                <h3>Chọn mã giảm giá</h3>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="modal-footer">
    <div class="d-flex justify-content-end">
      <div class="row">
        <div class="col">
          <button class="btn btn-back" type="button" mat-button mat-dialog-close>Huỷ</button>
          <button class="ms-1 btn btn-submit" type="button" mat-button (click)="onChooseVoucher()">Chọn</button>
        </div>
      </div>
    </div>
  </div>
</div>
