<div class="container">
 <div class="row d-flex justify-content-center">
  <div class="col-12">
    <div class="face">
      <div class="band">
        <div class="red"></div>
        <div class="white"></div>
        <div class="blue"></div>
      </div>
      <div class="eyes"></div>
      <div class="dimples"></div>
      <div class="mouth"></div>
    </div>

    <h1>Trang không tồn tại</h1>
  </div>
   <div class="col-12 d-flex justify-content-center">
     <div ><a class="btn" href="/home">Trở về trang chủ</a></div>
   </div>

 </div>
</div>
