<section class="vh-100 gradient-custom"
         [ngStyle]="{background: 'url(../../assets/images/bg-login.png)'}">
  <mat-progress-bar *ngIf="isSubmiting" color="warn" class="mb-4" mode="indeterminate"></mat-progress-bar>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-end align-items-center h-100">
      <div class="col-7">
        <a href=""><img class="img-logo" src="assets/images/logo-trans.png"></a>
      </div>
      <div class="col-5 col-md-8 col-lg-6 col-xl-5">

        <div class="card text-white" style="border-radius: 1rem;">
          <form [formGroup]="formForgotPassword" class="card-body p-5 text-center" (ngSubmit)="onSubmit()">
            <div class="mb-md-5 mt-md-4 pb-5">

              <h2  class="fw-bold pb-5 main-text-color text-uppercase ">Đổi mật khẩu</h2>

              <div class="form-group mb-4 text-start">
                <label for="password" class="main-text-color mb-2">Mật khẩu</label>
                <input class="form-control"
                       formControlName="password"
                       id="password"
                       type="password">
                <span *ngIf="!formForgotPassword.get('password').valid&&formForgotPassword.get('password').touched">
                    <span *ngIf="formForgotPassword.get('password').errors['required']" class="text-danger">
                        Hãy điền mật khẩu
                    </span>
                       <span *ngIf="formForgotPassword.get('password').errors['pattern']" class="text-danger">
                        Mật khẩu phải có ít nhất 8 ký tự và chứa cả số và chữ
                    </span>
                </span>
              </div>

              <div class="form-group mb-4 text-start">
                <label for="confirmPassword" class="main-text-color mb-2">Nhập lại mật khẩu</label>
                <input class="form-control"
                       formControlName="confirmPassword"
                       id="confirmPassword"
                       type="password">
                <span
                  *ngIf="!formForgotPassword.get('confirmPassword').valid&&formForgotPassword.get('confirmPassword').touched">
                    <span *ngIf="formForgotPassword.get('confirmPassword').errors['required']" class="text-danger">
                        Hãy nhập lại mật khẩu
                    </span>
                    <span *ngIf="formForgotPassword.get('confirmPassword').errors['passwordMismatch']"
                          class="text-danger">
                        Mật khẩu không khớp
                    </span>
                    </span>

              </div>


              <button [disabled]="!formForgotPassword.valid" style="cursor: pointer"  class="btn text-white btn-lg px-5" type="submit">Xác nhận</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
