<!--<div class="box_popup">-->
<!--  <h1 mat-dialog-title style="color:#F36B08; text-align: center">Thông báo</h1>-->
<!--  <hr>-->
<!--  <div mat-dialog-content class="pop-up_content">-->
<!--    <h2>Cả nhà - Homestay Hoa Hồng <br><span>Trả phòng thành công</span></h2>-->
<!--  </div>-->
<!--  <div mat-dialog-actions class="btn_checkout">-->
<!--    <button mat-button mat-dialog-close>Hủy</button>-->
<!--    <button mat-button mat-dialog-close cdkFocusInitial>Xác Nhận</button>-->
<!--  </div>-->
<!--</div>-->
