<div class="container" style="height: 1000px!important;">
  <mat-progress-bar *ngIf="isBooking" mode="indeterminate"></mat-progress-bar>

  <div class="row mt-3 mb-3">
    <div class="col-12">
      <h1 class="title">Xác nhận đặt phòng</h1>
    </div>
  </div>
  <div class="row">
    <form class="d-flex justify-content-start"  (ngSubmit)="onCreateBooking()" [formGroup]="formGroupBooking">
    <div class="col-6">
      <div class="row">
        <div class="row">
          <div class="col-12">
            <h2 class="m-0"> Thời gian thuê phòng</h2>
          </div>
        </div>
        <div class="row">
          <div class="d-flex">
            <div class="col-6">
              <p class="m-0">
                <strong>Từ: </strong> Ngày {{startDateBooking}}
                <strong> đến: </strong>Ngày {{endDateBooking}}
              </p>
            </div>
            <div class="col text-end">
              <button (click)="openDatePickerDialog()" class="btn btn-calendar p-0" type="button">Đổi ngày</button>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <h2 class="m-0">

              Số khách
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="d-flex">
            <div class="col-6">
              <p>
                <span>
                <button type="button"  (click)="decreaseGuestNumber()" aria-label="Example icon button with a vertical three dot icon" mat-icon-button>
                    <mat-icon>remove</mat-icon>
                </button>
                </span>
                {{guestNumber}} khách
                <span>
                <button type="button" (click)="increaseGuestNumber()" aria-label="Example icon button with a vertical three dot icon" mat-icon-button>
                    <mat-icon style="fill: #F36B08">add</mat-icon>
                </button>
              </span>
              </p>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <h2>Khuyến mại</h2>
        </div>
        <div class="row">
         <div class="col-7 pe-0 d-flex flex-row">
           <form [formGroup]="formCheckVoucher" (ngSubmit)="checkVoucherExist()">
             <div class="d-flex flex-row align-items-start justify-content-center">
               <div>
                 <mat-form-field appearance="outline" class="w-100">
                   <mat-label>Nhập mã giảm giá</mat-label>
                   <input  appInputRestriction="noSpecialChars"  formControlName="codeVoucherCtrl" matInput placeholder="">
                   <mat-hint>Bạn chỉ được chọn duy nhất 1 mã giảm giá</mat-hint>
                   <button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="onRemoveVoucher()">
                     <mat-icon>close</mat-icon>
                   </button>
                 </mat-form-field>
               </div>
               <div class="ms-3 mt-2">
                 <button type="submit" class="btn btn-outline-primary">Áp dụng</button>
               </div>
             </div>
           </form>
         </div>
          <div class="col-5 text-end">
            <button type="button"
                    (click)="onOpenVoucherDialog()"
                    class="btn btn-calendar">Danh sách mã giảm giá</button>
          </div>
        </div>
        <hr class="mt-4">
        <div class="row">
          <h2>Thông tin người đặt</h2>
        </div>
        <div class="row">
          <div class="col-xl-6 col-md-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Họ và tên</mat-label>
              <input #fullName formControlName="fullNameCtrl" matInput placeholder="" value="{{name}}">
              <mat-error>
                Tên không hợp lệ
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-md-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Số điện thoại</mat-label>
              <input #phoneNumber formControlName="phoneNumberCtrl" matInput placeholder="" value="{{phoneNumber}}">
              <mat-error>
                Số điện thoại không hợp lệ
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-md-12 mt-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Địa chỉ email</mat-label>
              <input readonly #email formControlName="emailCtrl" matInput placeholder="" value="{{email}}">
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-md-12 mt-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Ghi chú</mat-label>
              <input #note formControlName="noteCtrl" matInput placeholder="" value="{{note}}">
            </mat-form-field>
          </div>
        </div>
        <hr>
        <div class="row">
          <h2>Chính sách huỷ phòng</h2>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
             Quý khách sẽ được huỷ đặt phòng trong vòng 24h
            </p>
            <p>
             Khi đặt phòng mã giảm giá đã áp dụng không thể hoàn lại
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 ps-5">
      <div class="container container-right w-100">
        <div class="row">
          <div class="col-12">
            <h2 style="color: #F36B08">Chi tiết và phí dịch vụ</h2>
          </div>
        </div>
        <div class="row">
          <div class="overflow-auto">
            <ng-container>
              <mat-selection-list #serviceSelection
                                  (selectionChange)="onSelectedService(serviceSelection.selectedOptions.selected)">
                <mat-list-option *ngFor="let s of listService" [value]="s" color="warn">
                  <div class="row tb-service-row mb-3 mt-3 utility_service">
                    <div class="col-4"><span>
                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M5.75 4A1.75 1.75 0 004 5.75v4.5c0 .966.784 1.75 1.75 1.75h4.5A1.75 1.75 0 0012 10.25v-4.5A1.75 1.75 0 0010.25 4h-4.5z"></path></svg>
                </span>
                    {{s.nameService}}</div>
                    <div class="col-6 p-0">{{s.price|currency:'VND':true}}/người</div>
                  </div>
                </mat-list-option>
              </mat-selection-list>
            </ng-container>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6">
            <h3>Giá phòng</h3>
          </div>
          <div class="col-6 text-end">
            <h3>{{priceHS|currency}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12" style="font-size: 20px">+</div>
        </div>
        <div class="row">
          <div class="col-6">
            <h3>Phí dịch vụ</h3>
          </div>
          <div class="col-6 text-end">
            <h3>{{servicePrice|currency}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12" style="font-size: 20px">+</div>
        </div>
        <div class="row">
          <div class="col-6">
            <h3>Giá phòng tạm tính</h3>
          </div>
          <div class="col-6 text-end">
            <h3>{{totalBill|currency}}</h3>
          </div>
          <div class="row">
            <div class="col-12" style="font-size: 36px">-</div>
          </div>
          <div class="col-6">
            <h3>Chiết khấu từ mã giảm giá</h3>
          </div>
          <div class="col-6 text-end">
            <h3 style="color: red">{{totalDiscount|currency}}</h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6">
            <h3>Tổng hoá đơn đặt phòng</h3>
          </div>
          <div class="col-6 text-end">
            <h3 style="font-weight: bold">{{totalBillAfterDiscount|currency}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
              <mat-checkbox #confirm (change)="changeValue($event)" formControlName="confirmCtrl" [ngModel]="isConfirm" [color]="'warn'">
                Bằng việc chọn nút bên dưới, tôi đồng ý với <span style="color: #F36B08">Nội quy nhà của Chủ nhà</span>,
                Chính sách đặt lại và hoàn tiền của Chủ nhà, và đồng ý rằng Chủ nhà
                có thể tính phí vào phương thức thanh toán của tôi nếu tôi phải chịu
                trách nhiệm về thiệt hại..
              </mat-checkbox>
            </p>
          </div>
        </div>
        <div class="row" style="height: 60px">
          <div class="col-12 text-center d-flex align-items-center justify-content-center">
            <button [disabled]="!isConfirm||!formGroupBooking.valid"  type="submit" class="btn h-100 w-100 btn-success text-center btn-bill-submit">Đặt phòng</button>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
