<div class="container-detail">
  <div class="title">
    <h2>Village Home Stay</h2>
    <p>
      <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M17.935 0L13.5318 10.9091H0.322266L11.3302 18.1819L6.92704 29.091L17.935 21.8183L28.943 29.091L24.5398 18.1819L35.5477 10.9091H22.3382L17.935 0Z"
          fill="#F36B08"/>
      </svg>
      4.5 | 2 phòng ngủ - 4 giường - 2 vệ sinh
    </p>
    <span class="star_detail">
      <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d_116_116)">
      <path
        d="M9.49165 26.25L11.5583 17.5L4.58331 11.5L13.8833 10.75L17.5 2.5L21.1166 10.75L30.4166 11.5L26.2833 15H25.25C24.3458 15 23.4416 15.125 22.5375 15.5L25.3791 13.125L19.6958 12.625L17.5 7.625L15.3041 12.625L9.62081 13.125L13.8833 16.75L12.5916 22.125L17.5 19.25L18.1458 19.625C17.8875 20.25 17.6291 21 17.6291 21.625L9.49165 26.25ZM24.9916 26.5L21.375 22.75L22.925 21.25L24.9916 23.25L29.6416 18.75L31.1916 20.5L24.9916 26.5Z"
        fill="#F3420A"/>
      </g>
      <defs>
      <filter id="filter0_d_116_116" x="-2" y="0" width="39" height="38" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                     result="hardAlpha"/>
      <feOffset dy="4"/>
      <feGaussianBlur stdDeviation="2"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_116_116"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_116_116" result="shape"/>
      </filter>
      </defs>
      </svg>
    </span>
  </div>
  <div class="detail-content">
    <div class="detail-content-one">
      <div class="detail-card-img">
        <div class="detail-card-img-first">
          <div class="detail-card-img-item" style="width: 380px; height: 220px;">
            <img src="assets/images/image%201.png" alt="">
          </div>
          <div class="detail-card-img-item-childs">
            <div class="detail-card-img-item-child" style="width: 220px; height: 105px;">
              <img src="assets/images/image%202.png" alt="">
            </div>
            <div class="detail-card-img-item-child" style="width: 220px; height: 105px;">
              <img src="assets/images/image%203.png" alt="">
            </div>
          </div>
        </div>
        <div class="detail-card-img-second">
          <div class="detail-card-img-item" style="width: 240px; height: 220px;">
            <img src="assets/images/image%205.png" alt="">
          </div>
          <div class="detail-card-img-item" style="width: 360px; height: 220px;">
            <img src="assets/images/image%204.png" alt="">
          </div>
        </div>
      </div>
      <div class="detail-card-price">
        <div class="detail-card-price-title">
          <h3>Giá phòng: 1.000.000 VNĐ/đêm</h3>
        </div>
        <div class="detail-card-price-type">
          <div class="detail-card-price-type-first">
            <div class="detail-card-price-type-first-child" style="border-right: 1px solid #000000; padding: 10px 15px 10px 15px; text-align: center;">
              <span>Ngày nhận phòng</span>
              <input id="dob" type="date">
            </div>
            <div class="detail-card-price-type-first-child" style="border-right: 1px solid #000000; padding: 10px 15px 10px 15px; text-align: center;">
              <span>Ngày trả phòng</span>
              <input id="dob" type="date">
            </div>
            <div class="detail-card-price-type-first-child" style="padding: 10px 15px 10px 15px; text-align: center;">
              <span>Số người</span>
              <input id="dob" type="text" style="width: 50px;">
            </div>
          </div>
          <div class="detail-card-price-type-second">
            <button>Đặt ngay</button>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-content-two">
      s
    </div>
  </div>
</div>
