@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Oswald');

h1, h2, h3, h4, h5, h6, p, span, ul, li, hr {
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img, iframe{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-detail {
  max-width: 1230px;
  margin: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-detail .title h2 {
  font-size: 36px;
  font-family: 'Abhaya Libre';
}

.container-detail .title p {
  font-family: 'Actor';
  font-size: 16px;
  padding-top: 10px;
  padding-left: 10px;
}

.container-detail .title p svg {
  width: 20px;
  height: 20px;
}

.container-detail .title .star_detail {
  position: absolute;
  margin-top: -1%;
  /*margin-left: 87%;*/
}

.container-detail .detail-content {
  display: grid;
  grid-template-columns: 1fr 520px;
  padding-top: 20px;
  column-gap: 20px;
}

.container-detail .detail-content .detail-content-one .detail-card-img {
  display: grid;
  row-gap: 5px;
}

.container-detail .detail-content .detail-content-one
.detail-card-img .detail-card-img-first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
}

.container-detail .detail-content .detail-content-one .detail-card-img
.detail-card-img-first .detail-card-img-item-childs {
  display: grid;
  row-gap: 5px;
}

.container-detail .detail-content .detail-content-one
.detail-card-img .detail-card-img-second {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 5px;
}

.container-detail .detail-content .detail-content-two .detail-content-intro{
  display: grid;
  grid-template-columns: 1fr 270px;
  column-gap: 10px;
}
.container-detail .detail-content .detail-content-two
.detail-content-intro .utilities,
.container-detail .detail-content .detail-content-two
.detail-content-intro .info-host,
.container-detail .detail-content .detail-content-two
.detail-content-info
{
  border-radius: 20px;
  box-shadow: 0px 0px 7px #909090;
  padding: 10px 15px 10px 15px;
}

.container-detail .detail-content .detail-content-two
.detail-content-intro .utilities .utility-content ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-detail .detail-content .detail-content-two
.detail-content-intro .utilities .utility-content ul li{
  line-height: 40px;
}

.container-detail .detail-content .detail-content-two
.detail-content-intro .info-host .host{
  display: grid;
  grid-template-columns: 70px 1fr;
}

.container-detail .detail-content .detail-content-two
.detail-content-intro .info-host .host span{
  position: absolute;
  margin-top: 0.3%;
  margin-left: 13%;
}
.container-detail .detail-content .detail-content-two
.detail-content-intro .info-host .host .host-name h2{
  font-family: 'actor';
  font-size: 24px;
}

.container-detail .detail-content .detail-content-two
.detail-content-intro .info-host .host span svg{
  width: 20px;
  height: 20px;
}

.container-detail .detail-content .detail-content-two
.detail-content-info .map .image-map{
  width: 490px;
  height: 188px;
}

.container-detail .detail-content .detail-content-two
.detail-content-info .type-other .type-other-img .type-other-img-item{
  width: 110px;
  height: 80px;
}

.container-detail .detail-content .detail-content-two
.detail-content-info .type-other .type-other-img .type-other-img-item img{
  border-radius: 10px;
}

.container-detail .detail-content .detail-content-two
.detail-content-info .type-other .type-other-img{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container-detail .detail-content .detail-content-third
.rate .rate-item{
  display: grid;
}

/*.container-detail .detail-content .detail-content-third*/
/*.title-rate h2{*/
/*  font-size: 48px;*/
/*  font-family: Actor;*/
/*}*/

.container-detail .detail-content .detail-content-third
.rate .rate-item .rate-item-first{
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 10px;
}

.container-detail .detail-content .detail-content-third
.rate .rate-item .rate-item-first .rate-item-image{
  width: 80px;
  height: 75px;
}

.container-detail .detail-content .detail-content-third
.rate .rate-item .rate-item-first .info-rate .customer-name{
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.container-detail .detail-content .detail-content-third
.rate:nth-child(n+1){
  padding-top: 25px;
}

.container-detail .detail-content .detail-content-third
.rate .rate-item .rate-item-first .info-rate .customer-name h2{
  font-family: Actor;
  font-size: 32px;
}

.container-detail .detail-content .detail-content-third
.rate .rate-item .rate-item-first .info-rate .customer-name svg{
  width: 25px;
  height: 25px;
}

.container-detail .detail-content .detail-content-third
.rate .rate-item .rate-item-first .info-rate .rate-date p{
  font-size: 12px;
  font-family: Actor;
}

.container-detail .detail-content .detail-content-third
.rate .rate-item .rate-item-second {
  padding-top: 10px;
  font-family: Actor;
  font-size: 20px;
}

.container-detail .detail-content .detail-content-four,
.container-detail .detail-content .detail-content-third
{
  border-radius: 20px;
  box-shadow: 0px 0px 7px #909090;
  padding: 20px 25px 20px 25px;
  margin-top: 30px;
}

.container-detail .detail-content .detail-content-four
.detail-card-price .detail-card-price-title h3{
  font-family: Actor;
  font-size: 24px;
}

.container-detail .detail-content .detail-content-four
.detail-card-price .detail-card-price-type{
  border-radius: 20px;
  border: 1px solid #D9D9D9;
}

.detail-card-price-type-first{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.detail-card-price-type-first:hover{
  cursor: pointer;
}
.container-detail .detail-content .detail-content-four
.detail-card-price .detail-card-price-type input{
  border: none;
  background-color: #F36B08;
  width: 100%;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  font-size: 17px;
}

.container-detail .detail-content .detail-content-four
.detail-card-price .detail-card-price-type span{
  font-size: 17px;
  font-family: Actor;
}

.container-detail .detail-content .detail-content-four
.detail-card-price .detail-card-price-type {
  margin-bottom: 30px;
}

.container-detail .detail-content .detail-content-four
.detail-card-price .info-price h3{
  font-family: Actor;
  font-size: 24px;
  padding-bottom: 15px;
}

.container-detail .detail-content .detail-content-four
.detail-card-price .info-price h4{
  font-family: Actor;
  font-size: 20px;
  padding-bottom: 15px;
}

.container-detail .detail-content .detail-content-four
.detail-card-price .info-price .price-final{
  display: grid;
}

.container-detail .detail-content .detail-content-four
.detail-card-price .info-price .price-final .price-final-pay,
.container-detail .detail-content .detail-content-four
.detail-card-price .info-price .price-final .total-vat{
  display: grid;
  grid-template-columns: 200px 1fr;
}

.container-detail .detail-content .detail-content-four
.detail-card-price .price-button{
  padding-top: 30px;
}

.container-detail .detail-content .detail-content-four
.detail-card-price .price-button button{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 25px;
  border: none;
  background-color: #24E589;
  color: #FFFFFF;
  font-size: 30px;
  font-family: Actor;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.span__read-more{
  color:#7A7676;
}
.span__read-more:hover{
  cursor: pointer;
  color: #F36B08;
}

.info-host .host .host-image{
  border-radius: 50%;
}

.info-host .host .host-image img{
  border-radius: 50%;
}

.h4-ultility{
  font-weight: 500;
}
