.box_popup {
  width: 500px;
}

.box_popup h1 {
  font-family: 'Baloo';
  font-size: 32px;
}

.box_popup .pop-up_content {
  text-align: center;
}

.box_popup .pop-up_content h2 {
  font-family: Actor;
  font-weight: bold;
  font-size: 24px;
}

.box_popup .pop-up_content h2 span {
  font-weight: normal;
}

.box_popup .btn_checkout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box_popup .btn_checkout button {
  background-color: #F36B08;
  color: #FFFFFF;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.box_popup .btn_checkout button:hover{
  background-color: #F4B689;
}
