<mat-drawer-container class="example-container position-absolute">
  <mat-drawer #drawer class="example-sidenav" opened mode="side">
    <mat-list class="d-flex text-center flex-column justify-content-center">
      <mat-list-item routerLinkActive="active" class="left-bar-list"
                     routerLink="/host/manage-current/current-booking">
        <mat-icon class="me-2">account_circle</mat-icon>
        Hôm nay
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/host/manage-voucher" class="left-bar-list" routerLinkActive="active">
        <mat-icon class="me-2">feed</mat-icon>
        Khuyến mại
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/host/host-post-list" class="left-bar-list" routerLinkActive="active">
        <mat-icon class="me-2">payments</mat-icon>
        Quản lý bài đăng
      </mat-list-item>
      <mat-list-item routerLink="/host/manage-rate" class="left-bar-list" routerLinkActive="active">
        <mat-icon class="me-2">flag</mat-icon>
        Đánh giá
      </mat-list-item>
      <mat-list-item class="left-bar-list" routerLink="/host/dashboard" routerLinkActive="active">
        <mat-icon class="me-2">bar_chart</mat-icon>
        Thống kê
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content h-100">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


