body {
  margin: 0;
  padding: 0;
}

svg,
img {
  width: 100%;
  height: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
hr, ul, li {
  padding: 0;
  margin: 0;
}

.cover_image {
  padding-top: 35px;
}

.cover_image .notification {
  max-width: 1230px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cover_image .notification .title {
  position: absolute;
  margin-top: -9%;
}

.cover_image .notification .btn_post {
  position: absolute;
  margin-top: -8%;
  margin-left: 50%;
}

.cover_image .notification .btn_post button {
  border: none;
  background-color: #F36B08;
  color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 10px;
}

.cover_image .notification .btn_post button:hover {
  background-color: #F4B689;
}

.cover_image .notification .title h2 {
  font-size: 32px;
  font-family: "Inder";
  font-weight: bold;
}

.cover_image .notification .title h2 span {
  font-weight: normal;
  font-size: 22px;
}

.cover_image .notification .title h2 span a {
  text-decoration: underline;
  font-size: 16px;
}

.container-host {
  padding-top: 35px;
  max-width: 1230px;
  margin: auto;
  width: 100%;
  padding-bottom: 50px;
}

.container-host .manage_hs .title h2 {
  font-family: "Inder";
  font-size: 32px;
  font-weight: bold;
}

.container-host .manage_hs .function_filter {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 170px) 1fr;
  column-gap: 15px;
}

.container-host .manage_hs .function_filter button {
  border: 1px solid #F36B08;
  background-color: #FFFFFF;
  color: #F36B08;
  padding: 5px 5px;
  border-radius: 10px;
}

.container-host .manage_hs
.function_filter button:hover {
  background-color: #F4B689;
}

.container-host .manage_hs .box_list_hs {
  border: 1px solid #F36B08;
  border-radius: 15px;
  color: #F36B08;
}

.container-host .manage_hs .box_list_hs .list_hs {
  padding: 20px 35px 20px 35px;
  display: grid;
  row-gap: 20px;
}

.container-host .manage_hs .box_list_hs
.list_hs .card_hs {
  display: grid;
  grid-template-columns: 1fr 50px 220px 350px;
  align-items: center;
  column-gap: 20px;
}

.container-host .manage_hs .box_list_hs
.list_hs .card_hs .card_function {
  display: grid;
  grid-template-columns: 110px 1fr;
  align-items: center;
  column-gap: 20px;
}

.container-host .manage_hs .box_list_hs
.card_title svg {
  width: 12px;
  height: 10px;
}

.container-host .manage_hs .box_list_hs
.list_hs .card_hs .card_endDate {
  border: 1px solid #F36B08;
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
}

.container-host .manage_hs .box_list_hs
.list_hs .card_hs .card_function button {
  border: 1px solid #F36B08;
  background-color: #F4B689;
  color: #F36B08;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
}

.container-host .manage_hs .box_list_hs
.list_hs .card_hs .card_function svg {
  width: 25px;
  height: 25px;
}

.container-host .manage_hs .page_item{
  padding: 20px 35px 20px 35px;
}

.message_box {
  position: absolute;
  margin-left: 93%;
  margin-top: -8%;
}

.message_box button {
  border: 1px solid #F36B08;
  border-radius: 50%;
  padding: 10px 15px 10px 15px;
  background-color: #FAC29A;
}

.message_box button svg {
  width: 40px;
  height: 40px;
}

.modal .modal-header h2{
  color: #F36B08;
}

.modal .btn-primary{
  background-color: #F36B08;
  border: none;
}
