.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav {
  padding: 0;
  min-width: 250px;
}
.left-bar-list:hover{
  background-color: #F36B08 !important;
  color: #FFFFFF!important;
}
.left-bar-list{
  cursor: pointer;
}
.active{
  background-color: #F36B08;
  color: #FFFFFF;
  text-decoration: none!important;
  /*border-color: #F36B08 !important;*/
}

a.active{
  color: white;
}
/*.header-account-type{*/
/*  */
/*  color: #F36B08;*/
/*  cursor: pointer;*/

/*}*/
/*.header-account-type:hover{*/
/*  background-color: #F36B08;*/
/*  color: #FFFFFF;*/
/*}*/

.btn-change-type{
  border: 1px solid #F36B08;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: #F36B08;
}
.btn-change-type:hover{
  background-color: #F36B08;
  color: #FFFFFF;
}
.message_box {
  position: absolute;
  margin-left: 5%;
  margin-top: 140%;
}

.message_box button{
  border: 1px solid #F36B08;
  border-radius: 50%;
  padding: 10px 15px 10px 15px;
  background-color: #FAC29A;
}

.message_box button svg{
  width: 40px;
  height: 40px;
}
