<div class="cover_image">
  <div class="image">
    <img src="assets/images/Rectangle%2018.png" alt="">
  </div>
  <div class="notification">
    <div class="title">
      <h2>Hôm nay bạn có, <br>
        <span>Thông báo đặt phòng (7), tin nhắn (5)
              <a href="">Xem ngay</a>
        </span>
      </h2>
    </div>
    <div class="btn_post">
      <button>Tạo thêm bài đăng mới</button>
    </div>
  </div>
</div>

<div class="container-host">
  <div class="manage_hs">
    <div class="title">
      <h2>Quản lý Homestay</h2>
    </div>
    <div class="function_filter">
      <button>Đang tiếp đón (2)</button>
      <button>Sắp đến (5)</button>
      <button>Đang chờ xác nhận (5)</button>
      <button>Tổng quan lịch đặt</button>
      <div></div>
    </div>
    <div class="box_list_hs">
      <div class="list_hs">
        <div class="card_hs">
          <div class="card_title">
            <h2>
              <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="6.97127" cy="5" rx="6.22224" ry="5" fill="#F36B08"/>
              </svg>
              Homestay view phố tại Hoàn Kiếm
            </h2>
          </div>
          <div>
            ---
          </div>
          <div class="card_endDate">
            <span>Ra lúc (12:50 - 16/02/2022)</span>
          </div>
          <div class="card_function">
            <div class="edit">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2Z"
                    stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14 2V8H20" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M16 13H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16 17H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10 9H9H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Chi tiết
              </button>
            </div>
            <div class="checkout">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 6L9 17L4 12" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                </svg>
                Trả phòng hoàn tất
              </button>
            </div>
          </div>
        </div>
        <div class="card_hs">
          <div class="card_title">
            <h2>
              <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="6.97127" cy="5" rx="6.22224" ry="5" fill="#F36B08"/>
              </svg>
              Homestay view phố tại Hoàn Kiếm
            </h2>
          </div>
          <div>
            ---
          </div>
          <div class="card_endDate">
            <span>Ra lúc (12:50 - 16/02/2022)</span>
          </div>
          <div class="card_function">
            <div class="edit">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2Z"
                    stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14 2V8H20" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M16 13H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16 17H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10 9H9H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Chi tiết
              </button>
            </div>
            <div class="checkout">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 6L9 17L4 12" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                </svg>
                Trả phòng hoàn tất
              </button>
            </div>
          </div>
        </div>
        <div class="card_hs">
          <div class="card_title">
            <h2>
              <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="6.97127" cy="5" rx="6.22224" ry="5" fill="#F36B08"/>
              </svg>
              Homestay view phố tại Hoàn Kiếm
            </h2>
          </div>
          <div>
            ---
          </div>
          <div class="card_endDate">
            <span>Ra lúc (12:50 - 16/02/2022)</span>
          </div>
          <div class="card_function">
            <div class="edit">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2Z"
                    stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14 2V8H20" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M16 13H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16 17H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10 9H9H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Chi tiết
              </button>
            </div>
            <div class="checkout">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 6L9 17L4 12" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                </svg>
                Trả phòng hoàn tất
              </button>
            </div>
          </div>
        </div>
        <div class="card_hs">
          <div class="card_title">
            <h2>
              <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="6.97127" cy="5" rx="6.22224" ry="5" fill="#F36B08"/>
              </svg>
              Homestay view phố tại Hoàn Kiếm
            </h2>
          </div>
          <div>
            ---
          </div>
          <div class="card_endDate">
            <span>Ra lúc (12:50 - 16/02/2022)</span>
          </div>
          <div class="card_function">
            <div class="edit">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2Z"
                    stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14 2V8H20" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M16 13H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16 17H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10 9H9H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Chi tiết
              </button>
            </div>
            <div class="checkout">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 6L9 17L4 12" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                </svg>
                Trả phòng hoàn tất
              </button>
            </div>
          </div>
        </div>
        <div class="card_hs">
          <div class="card_title">
            <h2>
              <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="6.97127" cy="5" rx="6.22224" ry="5" fill="#F36B08"/>
              </svg>
              Homestay view phố tại Hoàn Kiếm
            </h2>
          </div>
          <div>
            ---
          </div>
          <div class="card_endDate">
            <span>Ra lúc (12:50 - 16/02/2022)</span>
          </div>
          <div class="card_function">
            <div class="edit">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2Z"
                    stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14 2V8H20" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M16 13H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16 17H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10 9H9H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Chi tiết
              </button>
            </div>
            <div class="checkout">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 6L9 17L4 12" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                </svg>
                Trả phòng hoàn tất
              </button>
            </div>
          </div>
        </div>
        <div class="card_hs">
          <div class="card_title">
            <h2>
              <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="6.97127" cy="5" rx="6.22224" ry="5" fill="#F36B08"/>
              </svg>
              Homestay view phố tại Hoàn Kiếm
            </h2>
          </div>
          <div>
            ---
          </div>
          <div class="card_endDate">
            <span>Ra lúc (12:50 - 16/02/2022)</span>
          </div>
          <div class="card_function">
            <div class="edit">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2Z"
                    stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14 2V8H20" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M16 13H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16 17H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10 9H9H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Chi tiết
              </button>
            </div>
            <div class="checkout">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 6L9 17L4 12" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                </svg>
                Trả phòng hoàn tất
              </button>
            </div>
          </div>
        </div>
        <div class="card_hs">
          <div class="card_title">
            <h2>
              <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="6.97127" cy="5" rx="6.22224" ry="5" fill="#F36B08"/>
              </svg>
              Homestay view phố tại Hoàn Kiếm
            </h2>
          </div>
          <div>
            ---
          </div>
          <div class="card_endDate">
            <span>Ra lúc (12:50 - 16/02/2022)</span>
          </div>
          <div class="card_function">
            <div class="edit">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2Z"
                    stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14 2V8H20" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M16 13H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16 17H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10 9H9H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Chi tiết
              </button>
            </div>
            <div class="checkout">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 6L9 17L4 12" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                </svg>
                Trả phòng hoàn tất
              </button>
            </div>
          </div>
        </div>
        <div class="card_hs">
          <div class="card_title">
            <h2>
              <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="6.97127" cy="5" rx="6.22224" ry="5" fill="#F36B08"/>
              </svg>
              Homestay view phố tại Hoàn Kiếm
            </h2>
          </div>
          <div>
            ---
          </div>
          <div class="card_endDate">
            <span>Ra lúc (12:50 - 16/02/2022)</span>
          </div>
          <div class="card_function">
            <div class="edit">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2Z"
                    stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14 2V8H20" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M16 13H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16 17H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10 9H9H8" stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Chi tiết
              </button>
            </div>
            <div class="checkout">
              <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 6L9 17L4 12" stroke="#F36B08" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                </svg>
                Trả phòng hoàn tất
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="page_item">
        <mat-paginator [length]="100"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

<div class="message_box">
  <button>
    <svg width="64" height="63" viewBox="0 0 64 63" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M55.417 38.8999C55.417 40.2702 54.8609 41.5843 53.8712 42.5533C52.8814 43.5222 51.539 44.0666 50.1392 44.0666H18.4725L7.91699 54.3999V13.0666C7.91699 11.6963 8.47304 10.3821 9.46282 9.41318C10.4526 8.44425 11.795 7.8999 13.1948 7.8999H50.1392C51.539 7.8999 52.8814 8.44425 53.8712 9.41318C54.8609 10.3821 55.417 11.6963 55.417 13.0666V38.8999Z"
        stroke="#F36B08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <rect x="0.5" y="0.649902" width="62.3333" height="61" stroke="#FAC29A"/>
    </svg>
  </button>
</div>
