.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  width: 100%;
}

.card{
  background: rgba(247, 236, 236, 0.8);
}
/*img upload*/
.progress-bar {
  padding: 0;
}

.progress {
  width: 50px;
}

.img-uploader.mat-input-element {
  font-size: medium;
  font-weight: 200;
}

#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0;
  top: 0;
}

.img-uploader.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

.img-uploader.mat-toolbar-single-row button {
  width: 100px;
}

.img-uploader.mat-form-field {
  width: 100%;
}

.img-uploader.message {
  background-color: #FFFFFF;
  color: #333;
  border: #aaa solid 1px;
  border-radius: 14px;
}

.img-uploader.preview {
  max-width: 200px;
  vertical-align: middle;
}

.img-uploader.list-card {
  margin-top: 20px;
}

.img-uploader.list-item {
  margin-bottom: 20px;
}

/*end img upload*/

/*bg-img-carousel*/
.div-img-carousel{
  width: 10em;
  height: 57em;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 14px;
}
.div-img-post-1,.div-img-post-2,.div-img-post-3,.div-img-post-4,.div-img-post-5{
  background-position: center center;
  background-repeat: no-repeat;
}
.div-img-post-1{
  width: 400px;
  height: 254px;
  border-top-left-radius: 24px;
}
.div-img-post-2{
  width: 200px;
  height: 125px;
  border-top-right-radius: 24px;
}
.div-img-post-3{
  width: 200px;
  height: 125px;
}
.div-img-post-4{
  width: 200px;
  height: 250px;
  border-bottom-left-radius: 24px;
}
.div-img-post-5{
  width: 400px;
  height: 250px;
  border-bottom-right-radius: 24px;
}

.div-img-1{
  position: relative;
}
.div-btn-menu-post-1{
  position: absolute;
  margin-top: -60%;
  margin-left: 85%;
  background: rgba(217, 217, 217, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.div-btn-menu-post-2{
  position: absolute;
  margin-top: -58%;
  margin-left: 75%;
  background: rgba(217, 217, 217, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.div-btn-menu-post-3{
  position: absolute;
  margin-top: -120%;
  margin-left: 75%;
  background: rgba(217, 217, 217, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.div-btn-menu-post-4{
  position: absolute;
  margin-top: -60%;
  margin-left: 87%;
  background: rgba(217, 217, 217, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

