.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  background: rgba(247, 236, 236, 0.8);
}

/*img upload*/
.progress-bar {
  padding: 0;
}

.progress {
  width: 50px;
}

.img-uploader.mat-input-element {
  font-size: medium;
  font-weight: 200;
}

#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0;
  top: 0;
}

.img-uploader.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

.img-uploader.mat-toolbar-single-row button {
  width: 100px;
}

.img-uploader.mat-form-field {
  width: 100%;
}

.img-uploader.message {
  background-color: #FFFFFF;
  color: #333;
  border: #aaa solid 1px;
  border-radius: 14px;
}

.img-uploader.preview {
  max-width: 200px;
  vertical-align: middle;
}

.img-uploader.list-card {
  margin-top: 20px;
}

.img-uploader.list-item {
  margin-bottom: 20px;
}

/*end img upload*/

/*bg-img-carousel*/
.div-img-carousel {
  width: 10em;
  height: 57em;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 14px;
}

.div-img-post-1, .div-img-post-2, .div-img-post-3, .div-img-post-4, .div-img-post-5 {
  background-position: center center;
  background-repeat: no-repeat;
}

.div-img-post-1 {
  width: 400px;
  height: 254px;
  border-top-left-radius: 24px;
}

.div-img-post-2 {
  width: 200px;
  height: 125px;
  border-top-right-radius: 24px;
}

.div-img-post-3 {
  width: 200px;
  height: 125px;
}

.div-img-post-4 {
  width: 200px;
  height: 250px;
  border-bottom-left-radius: 24px;
}

.div-img-post-5 {
  width: 400px;
  height: 250px;
  border-bottom-right-radius: 24px;
}

.div-img-1 {
  position: relative;
}

.div-btn-menu-post-1 {
  position: absolute;
  margin-top: -58%;
  margin-left: 88%;
}

.div-btn-menu-post-2 {
  position: absolute;
  margin-top: -58%;
  margin-left: 75%;
  background: rgba(217, 217, 217, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.div-btn-menu-post-3 {
  position: absolute;
  margin-top: -120%;
  margin-left: 75%;
  background: rgba(217, 217, 217, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.div-btn-menu-post-4 {
  position: absolute;
  margin-top: -60%;
  margin-left: 87%;
  background: rgba(217, 217, 217, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.number_custom span {
  position: absolute;
  background: rgba(217, 217, 217, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
}

.dropbtn2 {
  background: rgba(217, 217, 217, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  padding: 3px 4px 3px 4px;
  cursor: pointer;
  width: auto;
  text-align: center;
}

.dropbtn2:hover, .dropbtn2:focus {
  background-color: #FFFFFF;
  border: none;
}

.dropdown2 {
  position: relative;
  display: inline-block;
  z-index: 30;
}

.dropdown2-content {
  display: none;
  position: absolute;
  padding: 0px;
  width: auto;
  min-width: 160px;
  white-space: nowrap;
  background: #DDDDDD;
  overflow: auto;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  right: 15%;
}

.dropdown2-content a {
  color: #000000;
  padding: 2px 3px;
  font: 10px arial;
  display: block;
}

.dropdown2 a:hover {
  background: #000066;
  color: #FFF;
  border: none;
  text-decoration: none;
}

.dropdown2 button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown2 button:hover {
  background-color: #D6D6D6;
}

.show {
  display: block;
}

::ng-deep.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-
state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color:  #F36B08!important
}

/*::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {*/
/*  background-color: #F36B08!important;*/
/*}*/

/*!*input outline color*!*/
/*::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {*/
/*  color: #F36B08!important;*/
/*  !*opacity: 0.8!important;*!*/
/*}*/

/*!*mat-input focused color*!*/
/*::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {*/
/*  color: #F36B08!important;*/
/*}*/

/*!*mat-input error outline color*!*/
/*::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{*/
/*  color: red!important;*/
/*  opacity: 0.8!important;*/
/*}*/

/*!*mat-input carent color*!*/
/*::ng-deep .mat-input-element {*/
/*  caret-color: #F36B08!important;*/
/*}*/

/*!*mat-input error carent color*!*/
/*::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {*/
/*  caret-color: red!important;*/
/*}*/

/*!*mat-label normal state style*!*/
/*::ng-deep .mat-form-field-label {*/
/*  color: rgba(0,0,0,.6)!important;*/
/*   color: $mainColor!important;*/
/*}*/

/*!*mat-label focused style*!*/
/*::ng-deep .mat-form-field.mat-focused .mat-form-field-label {*/
/*  color: #F36B08!important;*/
/*}*/

/*!*mat-label error style*!*/
/*::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {*/
/*  color: red!important;*/
/*}*/
#map{
  width: auto;
  height: 300px;
}
::ng-deep.mat-horizontal-content-container{
  height: 800px !important;
}
.multi-select-voucher{
  height: 30px!important;

}
