<div class="container">
  <div class="row d-flex">
    <div class="col-6 mt-5">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img  src="assets/images/bg-create-post/b1.jpg" class="d-block w-100 div-img-carousel" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/bg-create-post/b4.jpg" class="d-block w-100 div-img-carousel" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/bg-create-post/b2.jpg" class="d-block w-100 div-img-carousel" alt="...">
        </div>
      </div>
    </div>
    </div>

    <div class="col-6 d-flex align-self-start">
      <form [formGroup]="formGroupPost" class="text-center">
        <mat-stepper #stepper headerPosition="bottom" >
          <mat-step [stepControl]="formGroupPost">
            <div>
              <button style="width: 130px" type="button" matStepperNext class="btn btn-outline-primary">
                Tiếp theo
                <span class="btn-label"><i class="fa fa-chevron-right"></i></span>
              </button>
            </div>

           <div class="container-fluid">
             <div class="row p-0">

               <div class="text-start ps-0" style="width: 100%">
                 <h2 class="m-0">Thông tin Homestay</h2>
               </div>

               <div class="col-4 ps-0">
                 <ng-template matStepLabel>Giới thiệu</ng-template>
                 <mat-form-field appearance="outline">
                   <mat-label>Nhập tên homestay</mat-label>
                   <input formControlName="name" matInput placeholder="" >
                 </mat-form-field>
               </div>

               <div class="col-4">
                 <mat-form-field appearance="outline">
                   <mat-label>Loại HomeStay</mat-label>
                   <mat-select>
                     <mat-option disabled selected>--Chọn--</mat-option>
                     <mat-option *ngFor="let type of typeHomeStay" value="{{type}}">{{type}}</mat-option>
                   </mat-select>
                   <mat-hint align="end">Chọn duy nhất 1 kiểu</mat-hint>
                 </mat-form-field>
               </div>

               <div class="col-4 pe-0" >
                 <mat-form-field appearance="outline">
                   <mat-label>Giá cho thuê</mat-label>
                   <input type="number" formControlName="priceHS" matInput placeholder="" >
                   <mat-hint align="end">Vui lòng chỉ nhập số tiền đơn vị VND</mat-hint>
                 </mat-form-field>
               </div>

             </div>
           </div>

            <div>
              <mat-form-field appearance="outline">
                <mat-label>Địa chỉ</mat-label>
                <input formControlName="address" matInput placeholder="" >
              </mat-form-field>
            </div>

            <div class="row ">
              <div class="text-start" style="width: 100%"><h2 class="m-0">Chi tiết phòng</h2></div>
              <div style="width: 100%" class="pe-0 row d-flex justify-content-start align-self-start align-items-center">

                  <div class="col-4 pe-0">
                    <mat-form-field appearance="outline">
                      <mat-label>Nhập số giường</mat-label>
                      <input type="number" formControlName="description" matInput placeholder="" >
                    </mat-form-field>
                  </div>

                  <div class="col-4 pe-0">
                    <mat-form-field appearance="outline">
                      <mat-label>Nhập số phòng ngủ</mat-label>
                      <input type="number" formControlName="description" matInput placeholder="" >
                    </mat-form-field>
                  </div>

                  <div class="col-4 pe-0">
                    <mat-form-field appearance="outline">
                      <mat-label>Nhập số phòng tắm</mat-label>
                      <input type="number" formControlName="description" matInput placeholder="" >
                    </mat-form-field>
                  </div>

              </div>
            </div>

            <div>
              <mat-form-field appearance="outline">
                <mat-label>Mô tả</mat-label>
                <textarea rows="20" formControlName="description" matInput placeholder="" >
                </textarea>
              </mat-form-field>
            </div>
          </mat-step>


          <mat-step [stepControl]="formGroupPost">
            <ng-template matStepLabel>Giá thuê và Dịch Vụ</ng-template>

            <div>
              <button style="width: 130px" type="button" matStepperPrevious class="me-5 btn btn-outline-warning">
                <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                Quay lại
              </button>

              <button style="width: 130px" type="button" matStepperNext class="btn btn-outline-primary">
                Tiếp theo
                <span class="btn-label"><i class="fa fa-chevron-right"></i></span>
              </button>
            </div>

            <div class="row mt-4 d-flex justify-content-center align-self-start">
              <div class="col-6">
                <div class="row  ">

                  <div class="text-start p-0 d-flex justify-content-start align-items-end">
                    <h2>Thêm dịch vụ</h2>
                  </div>

                  <div formArrayName="servicePost" *ngFor="let s of ServicesPost.controls;let i = index" >
                    <div [formGroupName]="i" class="row p-0 align-items-start d-flex">

                      <div class="col-7 p-0">
                        <mat-form-field style="width: 100%" appearance="outline">
                          <mat-label>Tên dịch vụ {{i+1}}</mat-label>
                          <input formControlName="serviceName" matInput placeholder="" >
                        </mat-form-field>
                      </div>

                      <div class="col-3 pe-0">
                        <mat-form-field style="width: 100%" appearance="outline">
                          <mat-label>Giá dịch vụ</mat-label>
                          <input type="number" formControlName="servicePrice" matInput placeholder="" >
                        </mat-form-field>
                      </div>

                      <div class="col-2  align-self-center">
                        <div class="example-button-container">
                          <button type="button" (click)="onDeleteService(i)" mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div *ngIf="!isServicePost" class="text-start p-0 d-flex justify-content-start align-items-end"><span style="color: red">Cần ích nhất một dịch vụ</span></div>
                </div>

                <div class="col">
                  <div class="example-button-container">
                    <button type="button" (click)="onAddService()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </mat-step>


          <div class="img-uploader">
            <mat-step>
              <ng-template matStepLabel>
                Chọn ảnh
              </ng-template>
              <div>
                <button style="width: 130px" type="button" matStepperPrevious class="me-5 btn btn-outline-warning">
                  <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                  Quay lại
                </button>

                <button style="width: 130px" type="button" matStepperNext class="btn btn-outline-primary">
                  Tiếp theo
                  <span class="btn-label"><i class="fa fa-chevron-right"></i></span>
                </button>
              </div>
              <div *ngFor="let progressInfo of progressInfos">
                <span>{{ progressInfo.fileName }}</span>
                <mat-toolbar class="progress-bar">
                  <mat-progress-bar
                    [value]="progressInfo.value"
                    color="accent"
                  ></mat-progress-bar>
                  <span class="progress">{{ progressInfo.value }}%</span>
                </mat-toolbar>
              </div>
              <mat-form-field style="width: 50%;"  appearance="none">
                <div>
                  <mat-toolbar>
                    <input style="caret-color: transparent;font-size: 1rem" [value]="'Chọn ảnh'" matInput/>
                    <button class="p-0" (click)="uploadFiles()" [disabled]="!selectedFiles"
                            color="primary" mat-flat-button>
                      <span class="btn-label"><i class="fa fa-upload"></i></span>
                      Tải lên
                    </button>
                  </mat-toolbar>

                  <input
                    (change)="selectFiles($event)"
                    accept="image/*"
                    id="fileInput"
                    multiple name="fileInput"
                    type="file"
                  />
                </div>
              </mat-form-field>

              <div *ngIf="previews.length>0">
              <div class="row">
                <div class="col-8 div-img-1">
                  <img [src]="previews[0]?previews[0]:'assets/images/bg-create-post/loading.png'" class="d-block  div-img-post-1" alt="...">
                    <div class="div-btn-menu-post-1">
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>arrow_upward</mat-icon>
                          <span>Di chuyển lên</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>arrow_downward</mat-icon>
                          <span>Di chuyển xuống</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>delete</mat-icon>
                          <span>Xoá</span>
                        </button>
                      </mat-menu>
                    </div>

                </div>
                <div class="col-4 mb-1">
                  <div class="row">
                    <div class="col-12 p-0 ps-2 mb-1  div-img-1">
                      <img [src]="previews[1]?previews[1]:'assets/images/bg-create-post/loading.png'" class="d-block div-img-post-2" alt="...">
                      <div class="div-btn-menu-post-2">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item >
                            <mat-icon>arrow_upward</mat-icon>
                            <span>Di chuyển lên</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon>arrow_downward</mat-icon>
                            <span>Di chuyển xuống</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Xoá</span>
                          </button>
                        </mat-menu>
                      </div>
                    </div>
                    <div class="col-12 p-0 ps-2  div-img-1">
                      <img [src]="previews[2]?previews[2]:'assets/images/bg-create-post/loading.png'" class="d-block  div-img-post-3" alt="...">
                      <div class="div-btn-menu-post-2">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>
                            <mat-icon>arrow_upward</mat-icon>
                            <span>Di chuyển lên</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon>arrow_downward</mat-icon>
                            <span>Di chuyển xuống</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Xoá</span>
                          </button>
                        </mat-menu>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4  div-img-1">
                  <img [src]="previews[3]?previews[3]:'assets/images/bg-create-post/loading.png'" class="d-block  div-img-post-4" alt="...">
                  <div class="div-btn-menu-post-3">
                    <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu2="matMenu">
                      <button mat-menu-item>
                        <mat-icon>arrow_upward</mat-icon>
                        <span>Di chuyển lên</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>arrow_downward</mat-icon>
                        <span>Di chuyển xuống</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Xoá</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
                <div class="col-8  div-img-1">
                  <img [src]="previews[4]?previews[4]:'assets/images/bg-create-post/loading.png'" class="d-block div-img-post-5" alt="...">
                  <div class="div-btn-menu-post-4">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="moveImgUp(4)">
                        <mat-icon>arrow_upward</mat-icon>
                        <span>Di chuyển lên</span>
                      </button>
                      <button type="button" mat-menu-item>
                        <mat-icon>arrow_downward</mat-icon>
                        <span>Di chuyển xuống</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Xoá</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </div>
              </div>
            </mat-step>
          </div>
          <mat-step>
            <ng-template matStepLabel>Hoàn thành</ng-template>
            <div>
              <button style="width: 130px" type="button" matStepperPrevious class="me-5 btn btn-outline-warning">
                <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                Quay lại
              </button>

              <button type="button" matStepperNext class=" btn btn-outline-success">
                Hoàn thành
                <span class="btn-label"><i class="fa fa-check"></i></span>
              </button>
            </div>
            You are now done.
          </mat-step>
        </mat-stepper>
      </form>
    </div>
  </div>

</div>
