@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~mapbox-gl/dist/mapbox-gl.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

p, h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

