body {
  margin: 0;
  padding: 0;
}

svg,
img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
hr {
  padding: 0;
  margin: 0;
}

header .container-header {
  max-width: 1230px;
  margin: auto;
  width: 100%;
}

header .container-header .nav-header {
  display: grid;
  grid-template-columns: 357px 1fr 350px;
  align-items: center;
}

header .container-header .nav-header .logo a svg {
  width: 200px;
  height: 65px;
  padding-top: 10px;
}

header .container-header .nav-header .filter {
  border-radius: 25px;
  /* background-color: #f1f1f1;
  display: grid;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 5px; */
  box-shadow: 0px 0px 7px #909090;
  height: 45px;
}

header .container-header .nav-header .filter svg {
  width: 20px;
  height: 20px;
}

header .container-header .nav-header .filter h5 {
  font-size: 14px;
}

header .container-header .nav-header .filter .search {
  display: grid;
  grid-template-columns: 1fr 45px;
  align-items: center;
  position: relative;
}

header .container-header .nav-header .filter .search .searchTerm {
  width: 100%;
  border: 1px solid #F36B08;
  border-right: none;
  border-radius: 25px 0 0 25px;
  outline: none;
  color: #F36B08;
  height: 100%;
  padding-left: 20px;
}

header .container-header .nav-header .filter .search .searchTerm::placeholder{
  color: #F4B689;
}

header .container-header .nav-header .filter .search .searchTerm:focus {
  color: #F36B08;
}

header .container-header .nav-header .filter .search .searchButton {
  width: 50px;
  height: 45px;
  border: 1px solid #F36B08;
  /* background: #F36B08; */
  text-align: center;
  color: #fff;
  border-radius:  0 25px 25px 0;
  cursor: pointer;
  font-size: 20px;
}

header .container-header .nav-header .profile {
  display: grid;
  grid-template-columns: 1fr 100px;
  column-gap: 5px;
  align-items: center;
}

header .container-header .nav-header .profile .icon-profile svg {
  width: 28px;
  height: 25px;
}

header .container-header .nav-header .profile .menu .icon-menu .icon svg {
  width: 20px;
  height: 25px;
}

header .container-header .nav-header .profile .menu .icon-menu {
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
}


header .container-header .nav-header .profile .menu {
  /* border: 1px solid #7A7676; */
  border-radius: 20px;
  padding: 3px;
  box-shadow: 0px 0px 7px #909090;
  cursor: pointer;
}

header .container-header .nav-header .filter .customer {
  cursor: pointer;
}

header .container-header .nav-header .profile .menu .icon-menu .icon,
header .container-header .nav-header .profile .menu .icon-menu .icon-profile {
  padding-left: 10px;
  padding-top: 2px;
}

header .container-header .nav-header .profile .menu .icon-menu .icon-profile {
  text-align: center;
}

header hr {
  color: #7A7676;
}

header .container-header .nav-header .profile .menu:hover {
  box-shadow: 0px 0px 4px #909090;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  border-radius: 20px;
}

.dropdown-content button{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  display: grid;
  grid-template-columns: 25px 1fr;
  column-gap: 5px;
  align-items: center;
  border: none;
  background-color: #FFFFFF;
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 15px;
  align-items: center;
}

.dropdown-content a svg,
.dropdown-content button svg{
  width: 20px;
  height: 20px;
}

.dropdown-content a:hover,
.dropdown-content button:hover{
  box-shadow: 0px 0px 4px #909090;
  border-radius: 20px;
}

.fix__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 900;
}

/* === responsive === */
@media (max-width: 1100px) {
  header .container-header {
    max-width: 850px;
    margin: auto;
    width: 100%;
  }

  header .container-header .nav-header {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    align-items: center;
  }
}

@media (max-width: 1190px) {
  header .container-header {
    max-width: 950px;
    margin: auto;
    width: 100%;
  }

  header .container-header .nav-header {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    align-items: center;
  }
}

@media (max-width: 950px) {
  header .container-header {
    max-width: 750px;
    margin: auto;
    width: 100%;
  }

  header .container-header .nav-header {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    align-items: center;
  }
}

@media (max-width: 750px) {
  header .container-header {
    max-width: 600px;
    margin: auto;
    width: 100%;
  }

  header .container-header .nav-header {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
  }
}
.search-div{
  z-index: 100000000000;
  margin-top:  5px;
  border-radius:  16px;
  position: fixed;
  min-width: 700px;
  background: white;
  box-shadow:  7px 7px 14px rgba(243, 107, 8, 0.4),
  -7px -7px 14px #e2e2e2;
}
.img-post{
  width: 100%;
  height: 100%;
}
.post-search{
  height: auto;
}
.div-img{
  max-width: 300px;
  height: 200px;
}
.div-img-2{
  height: 150px;
  width: 240px;
}
.p-more{
  color: #F36B08;
}
.p-more:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #F36B08;
  text-shadow: 2px 1px 9px rgba(206,89,55,0.59);
}
.post-search:hover{
  cursor: pointer;
}
