<div class="title mb-0 pb-0 text-center d-flex justify-content-center align-items-center" style="background-color: rgba(243,107,8,0.47);height: 50px">
  <h1 class="mt-3" mat-dialog-title style="font-size: 40px; color: #F36B08;text-align: center" >Chi tiết các lý do báo cáo</h1>
</div>
<div mat-dialog-content>
  <div class="modal-body">
    <div class="row row-detail-report" *ngFor="let r of listReportDetail">
      <div class="d-flex justify-content-center">
        <div class="col-4 div-img-avatar">
          <img class="img-avatar" width="150px" height="150px" [src]="r.imageUrl" >
        </div>
        <div class="col-8">
          <div class="row d-flex">
            <div class="col-6">
              <p class="mb-0">{{r.fullName}}</p>
            </div>
            <div class="col-6 p-1 d-flex div-report-type align-items-center justify-content-center">
              <p class="mb-0" style="color: #FFFFFF"><strong>{{r.nameReportType}}</strong></p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <p style="color: #F36B08">Mô tả chi tiết hơn: </p>
              {{r.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <div class="modal-footer">
    <div class="row d-flex">
      <div class="col align-items-end">
        <button class="btn btn-back" type="button" mat-button mat-dialog-close>Đóng</button>
      </div>
    </div>
  </div>
</div>
