<form [formGroup]="infoFormGroup">
  <div class="row">
    <div class="col-4">
      <div class="row d-flex justify-content-center">
        <div class="col p-0 d-flex justify-content-center">
          <div class="div-img">
            <img alt="Raeesh"
                 class="img-avata"
                 src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2022/05/cat-1652877250.jpg">
          </div>
        </div>
      </div>
      <div class="mt-5 row d-flex justify-content-center text-center">
        <div class="col">
          <button class="btn btn-save-img" type="button">Đổi ảnh đại diện</button>
        </div>
      </div>
    </div>
    <div class="col">
      <form [formGroup]="infoFormGroup">
        <div class="row">
          <div class="col-12"><h2>Thông tin người dùng</h2></div>
        </div>
        <div class="row">
          <div class="col-2  w-50">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Tên tài khoản</mat-label>
              <input formControlName="userName" matInput readonly>
            </mat-form-field>
          </div>
          <div class="col-3  w-50">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Họ và Tên</mat-label>
              <input formControlName="secondName" matInput
                     placeholder="">
            </mat-form-field>
          </div>
        </div>
        <div class="row">

          <div class="col-3  w-50">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Số điện thoại</mat-label>
              <input formControlName="phoneNumber" matInput
                     placeholder="">
            </mat-form-field>
          </div>
          <div class="col-2  w-50">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Địa chỉ email</mat-label>
              <input formControlName="email" matInput placeholder=""
                     readonly>
            </mat-form-field>
          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-4"><h2>Địa chỉ</h2></div>
        </div>
        <div class="row">
          <div class="col-5 w-100">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Địa chỉ</mat-label>
              <input formControlName="address" matInput
                     placeholder="">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
          </div>
        </div>
      </form>
    </div>
  </div>
</form>
