<h2 mat-dialog-title>Chi tiết</h2>
<mat-dialog-content  class="mat-typography">
  <div *ngIf="description">
    <h3>Giới thiệu</h3>
    <p>{{description}}</p>
  </div>
  <div  [ngSwitch]="type">
    <div *ngSwitchCase="1">
      <div  class="h-100 row justify-content-center align-self-center d-flex flex-row" *ngIf="listData.length>0&&type==1">
        <div  class="col-12 text-center justify-content-center" *ngFor="let img of listData">
          <img class="p-2" style="width: 85%" src="{{img}}" alt="">
        </div>
      </div>
    </div>
    <div *ngSwitchCase="2">
      <h3>Tiện ích</h3>
      <div class="row" *ngFor="let data of listData">
        <div class="col">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
            <path fill-rule="evenodd"
                  d="M21.03 5.72a.75.75 0 010 1.06l-11.5 11.5a.75.75 0 01-1.072-.012l-5.5-5.75a.75.75 0 111.084-1.036l4.97 5.195L19.97 5.72a.75.75 0 011.06 0z"></path>
          </svg>
          {{data}}
        </div>
      </div>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Đóng</button>
</mat-dialog-actions>
