<div class="container-fluid">
  <form [formGroup]="formReportHS"  (ngSubmit)="onReport()" >
  <h1 mat-dialog-title>Báo cáo homestay</h1>
  <div mat-dialog-content>
    <div class="row modal-body">
      <h2>Lý do báo cáo</h2>
    </div>

      <div class="row main-content justify-content-center w-100">
        <div class="col-12">
          <mat-form-field appearance="none" class="col-12" >
            <mat-label>chọn 1 trong những lý do sau</mat-label>
            <mat-chip-list [ngModelOptions] ={standalone:true} [(ngModel)]="selectedReportChips" class="chip-list-report" multiple="false" selectable="true">
              <mat-chip   (click)="selectedReportChips = chip" *ngFor="let chip of chipReportContent"
                        [selected]="isSelected(chip)"
                         [ngClass]="isSelected(chip)?'chip-report':'chip-unreport'"
                         style="background-color: white;border: 1px solid #F36B08;color: #F36B08">
                {{chip.name}}&nbsp;
              </mat-chip>
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 ">
          <mat-form-field  appearance="outline" class="example-full-width w-100 h-100">
            <mat-label>Nhận xét</mat-label>
            <textarea formControlName="descriptionCtrl" matInput placeholder="Để lại nhận xét của bạn ở đây"
                      rows="10"></textarea>
          </mat-form-field>
        </div>
      </div>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button mat-dialog-close type="button">Close</button>
    <button [disabled]="!formReportHS.valid" class="btn btn-save" type="submit">Xác nhận</button>
  </div>
  </form>

</div>
