<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container-fluid mt-3">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-info">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Tổng số bài viết</p>
              <h4 class="my-1 text-info">{{hostDashBoardData.totalPost}}</h4>
              <p class="mb-0 font-13"></p>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-newspaper"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="col">-->
<!--      <div class="card radius-10 border-start border-0 border-3 border-info-2">-->
<!--        <div class="card-body">-->
<!--          <div class="d-flex align-items-center">-->
<!--            <div>-->
<!--              <p class="mb-0 text-secondary">Tổng số bài viết đang hoạt động</p>-->
<!--              <h4 class="my-1 text-info">{{hostDashBoardData.post[0]?hostDashBoardData.post[0].value:0}}</h4>-->
<!--              <p class="mb-0 font-13"></p>-->
<!--            </div>-->
<!--            <div class="widgets-icons-2 rounded-circle bg-gradient-scooter-2 text-white ms-auto"><i class="fa fa-newspaper"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <div class="card radius-10 border-start border-0 border-3 border-info-3">-->
<!--        <div class="card-body">-->
<!--          <div class="d-flex align-items-center">-->
<!--            <div>-->
<!--              <p class="mb-0 text-secondary">Tổng số bài viết dừng hoạt động</p>-->
<!--              <h4 class="my-1 text-info">{{hostDashBoardData.post[1]?hostDashBoardData.post[1].value:0}}</h4>-->
<!--              <p class="mb-0 font-13"></p>-->
<!--            </div>-->
<!--            <div class="widgets-icons-2 rounded-circle bg-gradient-scooter-3 text-white ms-auto"><i class="fa fa-newspaper"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <hr>

  <div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <h1>Thống kê bài đăng</h1>
    </div>
    <div class="row mb-5 row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col">
        <div class="container-fluid mt-3">
          <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
            <div class="col">
              <ngx-charts-pie-chart
                [doughnut]="isDoughnut"
                [gradient]="gradient"
                [labels]="showLabels"
                [legendPosition]="legendPosition"
                [legendTitle]="legendTitle"
                [legend]="showLegend"
                [results]="this.hostDashBoardData.post"
                [scheme]="colorScheme"
                [view]="view"
              >
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 80px">
    <hr>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <h1>Lượt khách đã đón theo từng Homestay</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col">
        <div class="container-fluid mt-3">
          <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
            <div class="col">
              <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="this.totalPriceByPost"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
              >
              </ngx-charts-bar-vertical>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
