<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-4">
    <ng-container *ngIf="status==300">
      <div class="border border-3 border-success"></div>
      <div class="card  bg-white shadow p-5">
        <div class="mb-4 text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75"
               fill="#198652" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
          </svg>
        </div>
        <div class="text-center">
          <h1>Bài đăng đã được thanh toán trước đó!</h1>
          <p>Cảm ơn bạn đã tin tưởng và sử dụng dịch vụ của chúng tôi</p>
          <button (click)="goToManagePost()" class="btn btn-outline-success">Quay trở về trung tâm quản lý bài viết</button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="status==200">
      <div class="border border-3 border-success"></div>
      <div class="card  bg-white shadow p-5">
        <div class="mb-4 text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75"
               fill="#198652" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
          </svg>
        </div>
        <div class="text-center">
          <h1>Gia hạn bài đăng thành công</h1>
          <p>Cảm ơn bạn đã tin tưởng và sử dụng dịch vụ của chúng tôi</p>
          <button (click)="goToManagePost()" class="btn btn-outline-success">Quay trở về trung tâm quản lý bài viết</button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="responseCodeStatus!='00'">
      <div class="border border-3 border-danger"></div>
      <div class="card  bg-white shadow p-5">
        <div class="mb-4 text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="#c22f3d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
        </div>
        <div class="text-center">
          <h1>Gia hạn bài đăng thất bại</h1>
          <p>Vui lòng thử lại sau</p>
          <button (click)="goToManagePost()" class="btn btn-outline-success">Quay trở về trung tâm quản lý bài viết</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
