<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<div class="container-fluid mt-3">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
    <h1>Thống kê doanh thu</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-danger">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Doanh thu bài viết đã được thanh toán</p>
              <h4 class="my-1 text-danger">Số lượng bài viết: {{adminDashBoardData.totalPost}}</h4>
              <h4 class="my-1 text-danger">{{totalPostPayment|currency}}</h4>
              <p class="mb-0 font-13"></p>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i
              class="fa fa-dollar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-success">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Doanh thu bài viết gói 1 (300.000VND/bài)</p>
              <h4 class="my-1 text-dark">Số lượng bài viết: {{adminDashBoardData.paymentDtoList[0].totalPost}}</h4>
              <h4 class="my-1 text-dark">{{adminDashBoardData.paymentDtoList[0].totalPost*300000|currency}}</h4>
              <p class="mb-0 font-13"></p>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-bloody-package-1 text-white ms-auto"><i
              class="fa fa-dollar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-success-pack-2">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Doanh thu bài viết gói 2 (550.000VND/bài)</p>
              <h4 class="my-1 text-dark">Số lượng bài viết: {{adminDashBoardData.paymentDtoList[1].totalPost}}</h4>
              <h4 class="my-1 text-dark">{{adminDashBoardData.paymentDtoList[1].totalPost*550000|currency}}</h4>
              <p class="mb-0 font-13"></p>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-bloody-package-2 text-white ms-auto"><i
              class="fa fa-dollar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-info">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Doanh thu bài viết gói 3 (800.000VND/bài)</p>
              <h4 class="my-1 text-dark">Số lượng bài viết: {{adminDashBoardData.paymentDtoList[2].totalPost}}</h4>

              <h4 class="my-1 text-dark">{{adminDashBoardData.paymentDtoList[2].totalPost*800000|currency}}</h4>
              <p class="mb-0 font-13"></p>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-bloody-package-3 text-white ms-auto"><i
              class="fa fa-dollar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
    <h1>Thống kê tài khoản</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-warning-2">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Tổng tài khoản chủ nhà</p>
              <h4 class="my-1 text-primary">{{adminDashBoardData.totalHost}}</h4>
              <p class="mb-0 font-13"></p>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-host text-white ms-auto"><i class="fa fa-users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-danger">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Tổng tài khoản chủ nhà bị cấm</p>
              <h4 class="my-1 text-danger">{{adminDashBoardData.totalHostDeActive}}</h4>
              <p class="mb-0 font-13"></p>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-customer text-white ms-auto"><i
              class="fa fa-users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-success">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Tổng tài khoản người dùng</p>
              <h4 class="my-1 text-success">{{adminDashBoardData.totalCustomer}}</h4>
              <p class="mb-0 font-13"></p>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i
              class="fa fa-users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-danger">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Tổng tài khoản người dùng đã bị cấm</p>
              <h4 class="my-1 text-danger">{{adminDashBoardData.totalCustomerDeActive}}</h4>
              <p class="mb-0 font-13"></p>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-customer text-white ms-auto"><i
              class="fa fa-users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
    <h1>Thống kê bài đăng</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
    <div class="col">
      <div class="container-fluid mt-3">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
          <div class="col">
            <ngx-charts-pie-chart
              [doughnut]="isDoughnut"
              [gradient]="gradient"
              [labels]="showLabels"
              [legendPosition]="legendPosition"
              [legendTitle]="legendTitle"
              [legend]="showLegend"
              [results]="this.adminDashBoardData.post"
              [scheme]="colorScheme"
              [view]="view"
            >
            </ngx-charts-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
