table{
  width: 100%;
}

.container_manage_voucher {
  max-width: 1230px;
  margin: auto;
}
.td-title-post{
  transition: transform 0.1s ease;
}
.td-title-post:hover{
  cursor: pointer;
  color: #F36B08;
}
