<div class="container-search">
  <div class="menu-search">
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7448.942489835562!2d105.52725144979861!3d21.013822248049323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345b465a4e65fb%3A0xaae6040cfabe8fe!2sFPT%20University!5e0!3m2!1sen!2s!4v1666017828677!5m2!1sen!2s"
        width="600" height="450" style="border:0; border-radius: 15px;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="menu-type">
      <div class="search_of_price">
        <div class="title">
          <h3>Giá mỗi đêm:</h3>
        </div>
        <div class="slider_price">

        </div>
      </div>
    </div>
  </div>
  <div class="content-search">
    <div class="intro_image">
      <img src="assets/images/demo.png" alt="" style="border-radius: 25px;">
    </div>
    <div class="filter_function">
      <div class="filter">
        <div class="filter_option">

        </div>
        <div class="filter_date"></div>
        <div class="filter_customer"></div>
      </div>
    </div>
  </div>
</div>
