body {
  margin: 0;
  padding: 0;
}

svg,
img {
  width: 100%;
  height: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
hr, ul, li {
  padding: 0;
  margin: 0;
}

mat-slider {
  width: 100%;
}

.container-search {
  max-width: 1230px;
  margin: auto;
  width: 100%;
  /*display: grid;*/
  /*grid-template-columns: 300px 1fr;*/
  /*column-gap: 20px;*/
  padding-top: 30px;
  padding-bottom: 30px;
}

img, iframe {
  width: 100%;
  height: 100%;
}

.container-search .menu-search .map {
  width: 300px;
  height: 210px;
  border-radius: 15px;
  border: 1px solid #F36B08;
}

.container-search .menu-search .intro_image {
  width: 910px;
  height: 210px;
  border: 1px solid #F36B08;
  border-radius: 25px;
}

.container-search .menu-search,
.container-search .content-search {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 20px;
}

.container-search .content-search .menu-type {
  border-radius: 15px;
  padding: 10px 10px;
  height: 950px;
}

.container-search .content-search .menu-type .slider_fast {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.container-search .content-search .menu-type
.slider_fast .price_min,
.container-search .content-search .menu-type
.slider_fast .price_max {
  display: grid;
  row-gap: 5px;
}

.container-search .content-search .menu-type
.slider_fast button {
  border: 1px solid #F36B08;
  background-color: #FFFFFF;
  border-radius: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.container-search .content-search .menu-type
.slider_fast button:hover {
  background-color: #F4B689;
}

.container-search .content-search .menu-type .services,
.container-search .content-search .menu-type .star_rate,
.container-search .content-search .menu-type .type_place,
.container-search .content-search .menu-type .voucher,
.container-search .content-search .menu-type .map_center {
  padding-top: 15px;
  display: grid;
  row-gap: 5px;
  align-items: center;
}

.container-search .content-search .menu-type .services .services_title h3,
.container-search .content-search .menu-type .search_of_price h3,
.container-search .content-search .menu-type .star_rate .star_rate_title h3,
.container-search .content-search .menu-type .type_place .type_place_title h3,
.container-search .content-search .menu-type .voucher .voucher_title h3,
.container-search .content-search .menu-type .map_center .map_center_title h3 {
  font-family: Actor;
  font-size: 20px;
  color: #7A7676;
}

.container-search .content-search .menu-type .services .services_checkbox,
.container-search .content-search .menu-type .star_rate .star_rate_checkbox,
.container-search .content-search .menu-type .type_place .type_place_checkbox,
.container-search .content-search .menu-type .voucher .voucher_checkbox,
.container-search .content-search .menu-type .map_center .map_center_checkbox {
  padding-left: 25px;
  padding-right: 15px;
}

.container-search .content-search .menu-type
.services .services_checkbox .example-section,
.container-search .content-search .menu-type
.star_rate .star_rate_checkbox .example-section,
.container-search .content-search .menu-type
.type_place .type_place_checkbox .example-section,
.container-search .content-search .menu-type
.voucher .voucher_checkbox .example-section,
.container-search .content-search .menu-type
.map_center .map_center_checkbox .example-section {
  display: grid;
  row-gap: 5px;
  align-items: center;
}

.container-search .content-search .menu-type
.star_rate .star_rate_checkbox .example-section span {
  padding-left: 10px;
}

.container-search .content-search .menu-type
.star_rate .star_rate_checkbox .example-section svg {
  width: 18px;
  height: 18px;
}

.container-search .box_search .filter_function {
  display: grid;
  grid-template-columns: 1fr 300px;
  align-items: center;
}

.container-search .box_search .filter_function .filter {
  padding: 10px 15px 10px 15px;
  /*border: 1px solid #7A7676;*/
  display: grid;
  grid-template-columns: 100px 150px 2px 100px 2px 100px;
  border-radius: 15px;
  align-items: center;
  column-gap: 20px;
}

.container-search .box_search .filter_function .filter .filter_date,
.container-search .box_search .filter_function .filter .filter_customer {
  justify-self: center;
}

.container-search .box_search .filter_function .filter .filter_date button,
.container-search .box_search .filter_function .filter .filter_customer button {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  border: none;
  column-gap: 5px;
  background-color: #FFFFFF;
  color: #F36B08;
}

.container-search .box_search .filter_function .filter svg {
  width: 18px;
  height: 18px;
}

.container-search .box_search .filter_function .filter .dropdown_list {
  width: 100%;
  border: 1px solid #F36B08;
  border-radius: 15px;
  padding: 10px 5px 10px 5px;
  color: #F36B08;
}

.container-search .box_search .filter_function .filter .list_content {
  padding: 10px 10px;
  display: grid;
}

.container-search .box_search .filter_function
.filter .list_content .elder,
.container-search .box_search .filter_function
.filter .list_content .children,
.container-search .box_search .filter_function
.filter .list_content .baby, .container-search .box_search .filter_function
.filter .list_content .pet {
  display: grid;
  grid-template-columns: 1fr 140px;
  column-gap: 10px;
  padding-top: 10px;
}

.dropdown_customer {
  position: relative;
  display: inline-block;
}

.dropdown_content_customer {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  border-radius: 25px;
  border: 1px solid #F36B08;
  margin-top: 35%;
  margin-left: -140%;
}

.demo-inline-calendar-card {
  width: 300px;
}

.container-search .box_search .filter_function
.filter .dropdown_date .dropdown_content_date .list_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  padding: 25px 25px;
}

.container-search .box_search .filter_function
.filter .dropdown_date .dropdown_content_date .list_content .title_date {
  padding-bottom: 15px;
  text-align: center;
}

.container-search .box_search .filter_function
.filter .dropdown_date .dropdown_content_date .list_content .title_date h3 {
  font-family: 'Baloo';
  color: #F36B08;
}

.dropdown_date {
  position: relative;
  display: inline-block;
}

.dropdown_content_date {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 450px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  border-radius: 25px;
  left: -200%;
  border: 1px solid #F36B08;
  margin-top: 35%;
}

.container-search .content-search .box_search
.list_card_search{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 15px;
  padding-top: 20px;
}

.container-search .content-search .box_search
.list_card_search .card_search .image_search {
  width: 100%;
  height: 250px;
  border-radius: 25px;
}

.container-search .content-search .box_search
.list_card_search .card_search .image_search img{
  border-radius: 25px;
}

.container-search .content-search .box_search
.list_card_search .card_search .info_post {
  display: grid;
  grid-template-columns: 1fr 100px;
  padding-top: 10px;
}

.container-search .content-search .box_search
.list_card_search .card_search .info_post svg{
  width: 20px;
  height: 20px;
}

.container-search .content-search .box_search
.list_card_search .card_search .info_post .right{
  justify-self: end;
  padding-right: 15px;
}

.container-search .content-search .box_search
.list_card_search .card_search .info_post .left{
  padding-left: 15px;
}

.container-search .content-search .box_search
.list_card_search .card_search .info_post .left h3{
  font-family: Inder;
  font-size: 24px;
  padding-bottom: 5px;
}
.input-price{
  width: 124px;
  border: 1px solid  gray;
  border-radius: 16px;
  text-align: center;
  height: 32px;
}

.filter_function{
  border-radius: 50px;
  background: linear-gradient(315deg, #ffffff, #e6e6e6);
  box-shadow:  -1px -1px 2px #f2f2f2,
  1px 1px 2px #ffffff;
}
.menu-type{
  background: linear-gradient(315deg, #ffffff, #e6e6e6);
  box-shadow:  -1px -1px 2px #f2f2f2,
  1px 1px 2px #ffffff;
}
