<section class="vh-100 gradient-custom"
         [ngStyle]="{background: 'url(../../assets/images/bg-login.png)'}">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-end align-items-center h-100">
      <div class="col-7">
        <a href=""><img class="img-logo" src="assets/images/logo-trans.png"></a>
      </div>

      <div class="col-5 col-md-8 col-lg-6 col-xl-5">

        <div class="card text-white" style="border-radius: 1rem;">
          <form *ngIf="!isForgotPassword" [formGroup]="formLoginGroup" class="card-body p-5 text-center" (ngSubmit)="onSubmit()">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2  class="fw-bold pb-5 main-text-color text-uppercase ">Đăng nhập</h2>

              <div *ngIf="!isForgotPassword" class="form-group mb-4 text-start">
                <label for="username" class="mb-2 main-text-color">Tên đăng nhập</label>
                <input class="form-control"
                       formControlName="userName"
                       id="username"
                       type="text">
                <span *ngIf="!formLoginGroup.get('userName').valid&&formLoginGroup.get('userName').touched">
                    <span class="text-danger" *ngIf="formLoginGroup.get('userName').errors['required']">
                        Hãy điền tên đăng nhập
                    </span>
                </span>
              </div>

              <div *ngIf="!isForgotPassword" class="form-group mb-4 text-start">
                <label for="password" class="main-text-color mb-2">Mật khẩu</label>
                <input class="form-control"
                       formControlName="passWord"
                       id="password"
                       type="password">
                <span *ngIf="!formLoginGroup.get('passWord').valid&&formLoginGroup.get('passWord').touched">
                    <span class="text-danger" *ngIf="formLoginGroup.get('passWord').errors['required']">
                        Hãy điền mật khẩu
                    </span>
                </span>
              </div>

              <p class="small" *ngIf="!isForgotPassword" (click)="isForgotPassword = true"><a class="main-text-color">Quên mật khẩu?</a></p>

              <button [disabled]="!formLoginGroup.valid" style="cursor: pointer"  class="btn text-white btn-lg px-5" type="submit">Đăng nhập</button>
            </div>

            <div class="main-text-color">
              <p class=" mb-0">Bạn chưa có tài khoản? <a routerLink="/auth/register" class="main-text-color fw-bold">Tạo tài khoản</a>
              </p>
            </div>

          </form>
          <form *ngIf="isForgotPassword" [formGroup]="formForgotPasswordGroup" class="card-body p-5 text-center" (ngSubmit)="onSubmitForgotPassword()">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold pb-5 main-text-color text-uppercase ">Quên mật khẩu</h2>

              <div *ngIf="isForgotPassword" class="form-group mb-4 text-start">
                <label for="email" class="mb-2 main-text-color">Nhập địa chỉ email</label>
                <input class="form-control"
                       formControlName="email"
                       id="email"
                       type="text">
                <span *ngIf="!formForgotPasswordGroup.get('email').valid&&formForgotPasswordGroup.get('email').touched">
                    <span class="text-danger" *ngIf="formForgotPasswordGroup.get('email').errors['required']">
                        Hãy điền địa chỉ email
                    </span>
                  <span class="text-danger" *ngIf="formForgotPasswordGroup.get('email').errors['email']">
                        Địa chỉ email không hợp lệ
                    </span>
                </span>
              </div>
              <p class="small" *ngIf="isForgotPassword" (click)="isForgotPassword = false"><a class="main-text-color">Đã có tài khoản</a></p>

              <button [disabled]="!formForgotPasswordGroup.valid" style="cursor: pointer"  class="btn text-white btn-lg px-5" type="submit">Gửi</button>
            </div>

            <div class="main-text-color">
              <p class=" mb-0">Bạn chưa có tài khoản? <a routerLink="/auth/register" class="main-text-color fw-bold">Tạo tài khoản</a>
              </p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
