<div class="container">
  <div class="row d-flex align-items-center text-center">
    <div class="col">
      <!--<button mat-button (click)="openDialog()">Launch dialog</button>-->
      <h1 mat-dialog-title style="color: #F36B08">Chọn ngày</h1>
      <div mat-dialog-content>
        <mat-form-field appearance="outline" color="warn">
          <mat-label>Chọn ngày bạn muốn thuê</mat-label>
          <mat-date-range-input restoreFocus [dateFilter]="bookedDateFilter"  [min]="minDate" [formGroup]="formDatePicker" [max]="maxDate" [rangePicker]="picker">
            <input readonly #dateRangeStart (dateChange)="limitDateRange(dateRangeStart)"  formControlName="startDate" matStartDate placeholder="Ngày bắt đầu">
            <input readonly #dateRangeEnd (dateChange)="resetMaxDate(dateRangeEnd)" formControlName="endDate" matEndDate placeholder="Ngày kết thúc"
            >
          </mat-date-range-input>
          <mat-hint>Ngày/Tháng/Năm - Ngày/Tháng/Năm</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button (click)="onSelectedDate()" style="background-color: #F36B08" mat-button mat-dialog-close="">Chọn</button>
      </div>

    </div>
  </div>
</div>
