<div style="border-left: 1px solid #F36B08" class="row">
  <div class="row">
    <h2>Thay đổi mật khẩu</h2>
    <h4>Để đảm bảo an toàn cho tài khoản vui lòng không chia sẻ mật khẩu cho người khác</h4>

  </div>
  <form  (ngSubmit)="onSubmit()" class="example-form" [formGroup]="formChangePassword">
  <div class="row d-flex justify-content-center  text-start">
    <div class="row">
<!--      <div class="col-12 p-0">-->
<!--        <div *ngIf="messageResponse" class="w-50 alert alert-danger col-6" role="alert"-->
<!--        [ngClass]="messageResponse=='mat khau current khong khop'?'w-50  alert alert-danger col-6':' alert alert-success col-6'"-->
<!--        >-->
<!--          {{messageResponse}}-->
<!--        </div>-->
<!--      </div>-->
      <div class="col-12 p-0">
        <mat-form-field class="w-50" appearance="outline">
          <mat-label>Mật khẩu hiện tại</mat-label>
          <input type="password" matInput formControlName="currentPassword"
                 placeholder="Điền vào đây">
          <mat-error *ngIf="formChangePassword.controls.currentPassword.errors?.passwordMismatch">
            Mật khẩu không khớp
          </mat-error>
          <mat-error *ngIf="formChangePassword.controls.currentPassword.errors?.pattern">
            Mật khẩu cần có 8 ký tự bao gồm cả chữ và số
          </mat-error>

        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-0">
        <mat-form-field class="w-50" appearance="outline">
          <mat-label>Nhập mật khẩu mới</mat-label>
          <input type="password" matInput formControlName="newPassword"
                 placeholder="Điền vào đây">
          <mat-error *ngIf="formChangePassword.controls.newPassword.errors?.passwordMismatch">
            Mật khẩu không khớp
          </mat-error>
          <mat-error *ngIf="formChangePassword.controls.newPassword.errors?.pattern">
            Mật khẩu cần có 8 ký tự bao gồm cả chữ và số
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-0">
        <mat-form-field class="w-50" appearance="outline">
          <mat-label>Nhập lại mật khẩu mới</mat-label>
          <input type="password" matInput formControlName="confirmNewPassword"
                 placeholder="Điền vào đây"  [errorStateMatcher]="matcher">
          <mat-error *ngIf="formChangePassword.controls.confirmNewPassword.errors?.passwordMismatch">
           Mật khẩu không khớp
          </mat-error>
          <mat-error *ngIf="formChangePassword.controls.confirmNewPassword.errors?.pattern">
            Mật khẩu cần có 8 ký tự bao gồm cả chữ và số
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-0">
        <button  class="btn" type="submit" [disabled]="!formChangePassword.valid" >
          Xác nhận
        </button>
      </div>
    </div>
  </div>
  </form>
</div>


<!--    <mat-error >-->
<!--      Please enter a valid email address-->
<!--    </mat-error>-->
<!--    <mat-error *ngIf="emailFormControl.hasError('required')">-->
<!--      Email is <strong>required</strong>-->
<!--    </mat-error>-->
