.btn{
  border: 1px solid #F36B08;
  border-radius: 5px;
  color: #F36B08;
}
.btn:hover{
  background-color: #F36B08;
  color: white;
}

::ng-deep.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-
state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color:  #F36B08!important
}
