<div class="container-fluid mt-5">
  <div class="row d-flex align-items-center ">
    <div class="col p-2 header-account-type text-start">
      <h1 style="font-size: 40px">Tài khoản {{typeAccount}}</h1>
    </div>
  </div>
</div>
<div class="container-fluid ">
  <div class="row d-flex align-items-center ">
    <div class="col p-2 header-account-type text-start">
      <a routerLinkActive="active"  routerLink="manager-account-host" class="btn-change-type me-3">Tài khoản chủ nhà</a>
      <a routerLinkActive="active"   routerLink="manager-account-customer" class="btn-change-type">Tài khoản người dùng</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
