<div class="container-fluid">
  <mat-form-field appearance="standard">
    <mat-label>Tìm kiếm</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table class="w-100" [dataSource]="dataSource" mat-table matSort>

      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> ID</th>
        <td *matCellDef="let row" mat-cell>{{row.viewBookingDto.bookingID}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Tên Homestay</th>
        <td *matCellDef="let row" mat-cell>{{row.viewBookingDto.title}}</td>
      </ng-container>
      <ng-container matColumnDef="userBooking">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Người đặt</th>
        <td *matCellDef="let row" mat-cell>{{row.userBookingDto.fullName}}</td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Ngày thuê phòng</th>
        <td *matCellDef="let row" mat-cell>{{row.viewBookingDto.startDate}}</td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Ngày trả phòng</th>
        <td *matCellDef="let row" mat-cell>
          {{row.viewBookingDto.endDate}}
        </td>
      </ng-container>
      <ng-container matColumnDef="totalPerson">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Tổng số khách</th>
        <td *matCellDef="let row" mat-cell>
          {{row.viewBookingDto.totalPerson}}
        </td>
      </ng-container><ng-container matColumnDef="totalMoney">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Tổng thanh toán</th>
      <td *matCellDef="let row" mat-cell>
        {{row.viewBookingDto.totalMoney}}
      </td>
    </ng-container><ng-container matColumnDef="totalService">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Tổng phí dịch vụ</th>
      <td *matCellDef="let row" mat-cell>
        {{row.viewBookingDto.totalService}}
      </td>
    </ng-container><ng-container matColumnDef="note">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Ghi chú</th>
      <td *matCellDef="let row" mat-cell>
        {{row.viewBookingDto.note}}
      </td>
    </ng-container>


      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    </table>

    <mat-paginator hidePageSize aria-label="Select page of users"></mat-paginator>
  </div>

</div>
